force-app/main/default/flows/Account_Set_Most_Recent_Invoice_and_Billing_Account_Triggered.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Created for 01757279</description>
    <interviewLabel>Account Set Most Recent Invoice and Billing Account Triggered {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Set Most Recent Invoice and Billing Account Triggered</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Account</name>
        <label>Get Related Account</label>
        <locationX>174</locationX>
        <locationY>317</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Most_Recent_Invoice_and_Billing_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Do_Nothing</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Zuora__Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>17</locationX>
        <locationY>316</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Other__c</field>
            <value>
                <elementReference>$Record.Other__c</elementReference>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Most_Recent_Invoice_and_Billing_Account</name>
        <label>Update Most Recent Invoice and Billing Account</label>
        <locationX>175</locationX>
        <locationY>499</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billing_Account__c</field>
            <value>
                <elementReference>$Record.Zuora__BillingAccount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Invoice__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>49</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Related_Account</targetReference>
        </connector>
        <object>Zuora__ZInvoice__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
