force-app/main/default/flows/Account_Set_Most_Recent_Invoice_Scheduled.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>No_Invoice</name>
        <label>No Invoice</label>
        <locationX>27</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>Invoice_Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Does_account_have_invoice</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_account_have_invoice</name>
        <label>Does account have invoice?</label>
        <locationX>164</locationX>
        <locationY>510</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Invoice_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Most_Recent_Invoice_and_Billing_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Created for: 01757279</description>
    <interviewLabel>Account Set Most Recent Invoice Scheduled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Set Most Recent Invoice Scheduled</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Latest_Invoice</name>
        <label>Get Latest Invoice</label>
        <locationX>173</locationX>
        <locationY>368</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_account_have_invoice</targetReference>
        </connector>
        <faultConnector>
            <targetReference>No_Invoice</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Zuora__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>Invoice_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Billing_Account</assignToReference>
            <field>Zuora__BillingAccount__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Set_Most_Recent_Invoice_and_Billing_Account</name>
        <label>Set Most Recent Invoice and Billing Account</label>
        <locationX>170</locationX>
        <locationY>667</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billing_Account__c</field>
            <value>
                <elementReference>Billing_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Invoice__c</field>
            <value>
                <elementReference>Invoice_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>46</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Get_Latest_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Most_Recent_Invoice__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Organizer_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01270000000MRznAAG</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-09-10</startDate>
            <startTime>01:21:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Billing_Account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Invoice_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
