force-app/main/default/flows/Add_Related_Clients_to_Connect_Cases.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Increment_Attempts</name>
        <label>Increment Attempts</label>
        <locationX>209</locationX>
        <locationY>481</locationY>
        <assignmentItems>
            <assignToReference>Attempts</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clients_Found_not_Max_Attempt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_List_of_Related_Clients</name>
        <label>Set List of Related Clients</label>
        <locationX>46</locationX>
        <locationY>658</locationY>
        <assignmentItems>
            <assignToReference>List_of_Clients</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!IndividualRelatedCase.Related_Client__r.Name}, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberofClientsFound</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Related_Client_Cases</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Clients_Found_not_Max_Attempt</name>
        <label>Clients Found not Max Attempt</label>
        <locationX>318</locationX>
        <locationY>340</locationY>
        <defaultConnector>
            <targetReference>Update_Connect_Case_with_Client_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Restart_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberofClientsFound</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Attempts</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_for_Related_Client_Case_Creation</targetReference>
            </connector>
            <label>No Clients Not Max Attempts</label>
        </rules>
    </decisions>
    <interviewLabel>Add Related Clients to Connect Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Related Clients to Connect Cases</label>
    <loops>
        <description>Builds list of related clients.</description>
        <name>Loop_Through_Related_Client_Cases</name>
        <label>Loop Through Related Client Cases</label>
        <locationX>49</locationX>
        <locationY>468</locationY>
        <assignNextValueToReference>IndividualRelatedCase</assignNextValueToReference>
        <collectionReference>RelatedClientCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_List_of_Related_Clients</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Increment_Attempts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Client_Cases</name>
        <label>Get Related Client Cases</label>
        <locationX>46</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Related_Client_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>5000g00002HkBEsAAN</stringValue>
            </value>
        </filters>
        <object>Related_Client_Case__c</object>
        <outputReference>RelatedClientCases</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Related_Client__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Updates the Connect Client List field with list generated form loop of the Related Client Account Names of the Related Client Case records.</description>
        <name>Update_Connect_Case_with_Client_List</name>
        <label>Update Connect Case with Client List</label>
        <locationX>516</locationX>
        <locationY>341</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConnectCaseID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Connect_Case_Related_Clients__c</field>
            <value>
                <elementReference>List_of_Clients</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>76</locationX>
        <locationY>19</locationY>
        <connector>
            <targetReference>Wait_for_Related_Client_Case_Creation</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Attempts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>ID of Connect case that launched flow from process builder.</description>
        <name>ConnectCaseID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>IndividualRelatedCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Related_Client_Case__c</objectType>
    </variables>
    <variables>
        <name>List_of_Clients</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberofClientsFound</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>RelatedClientCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Related_Client_Case__c</objectType>
    </variables>
    <waits>
        <description>Before we stamp the connect case with related clients, we need the API to create the Related Client Cases.</description>
        <name>Wait_for_Related_Client_Case_Creation</name>
        <label>Wait for Related Client Case Creation</label>
        <locationX>54</locationX>
        <locationY>179</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Client_Cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Wait_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Attempts</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Attempts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Client_Cases</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.InterviewStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
            </inputParameters>
            <label>Wait 0</label>
        </waitEvents>
    </waits>
</Flow>
