force-app/main/default/flows/AG_Case_Email_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AG_Case_Closure_notification_English</name>
        <label>AG Case Closure notification English</label>
        <locationX>2338</locationX>
        <locationY>551</locationY>
        <actionName>Case.Audit_Notice_of_Case_Closure</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Task_Closed_English_Email_Update</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Closed_Dutch_Email</name>
        <label>Closed Dutch Email</label>
        <locationX>2265</locationX>
        <locationY>557</locationY>
        <actionName>Case.Audit_Notice_of_Case_Closure_Dutch</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Task_Closed_Dutch_Email_Update</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Closed_Finnish_Email</name>
        <label>Closed Finnish Email</label>
        <locationX>2135</locationX>
        <locationY>563</locationY>
        <actionName>Case.Audit_Notice_of_Case_Closure_Finnish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Task_Closed_Finnish_Email_Update</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Closed_French_Email</name>
        <label>Closed French Email</label>
        <locationX>2603</locationX>
        <locationY>567</locationY>
        <actionName>Case.Audit_Notice_of_Case_Closure_French</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Task_Closed_French_Email_Update</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Closed_German_Email</name>
        <label>Closed German Email</label>
        <locationX>2199</locationX>
        <locationY>562</locationY>
        <actionName>Case.Audit_Notice_of_Case_Closure_German</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Task_Closed_German_Email_Update</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Closed_Portuguese_Email</name>
        <label>Closed Portuguese Email</label>
        <locationX>2516</locationX>
        <locationY>562</locationY>
        <actionName>Case.Audit_Notice_of_Case_Closure_Portuguese</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Task_Closed_Portuguese_Email_Update</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Closed_Spanish_Email</name>
        <label>Closed Spanish Email</label>
        <locationX>2451</locationX>
        <locationY>563</locationY>
        <actionName>Case.Audit_Notice_of_Case_Closure_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Task_Closed_Spanish_Email_Update</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Closed_Swedish_Email</name>
        <label>Closed Swedish Email</label>
        <locationX>2062</locationX>
        <locationY>565</locationY>
        <actionName>Case.Audit_Notice_of_Case_Closure_Swedish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Task_Closed_Swedish_Email_Update</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Waiting_on_Avetta_Dutch_Email</name>
        <label>Waiting on Avetta Dutch Email</label>
        <locationX>384</locationX>
        <locationY>545</locationY>
        <actionName>Case.Audit_Notice_for_Waiting_on_Avetta_Dutch</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Waiting_on_Avetta_Dutch_Task</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Waiting_on_Avetta_English_Email</name>
        <label>Waiting on Avetta English Email</label>
        <locationX>476</locationX>
        <locationY>548</locationY>
        <actionName>Case.Audit_Notice_for_Waiting_on_Avetta</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Waiting_on_Avetta_English_Task</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Waiting_on_Avetta_Finnish_Email</name>
        <label>Waiting on Avetta Finnish Email</label>
        <locationX>258</locationX>
        <locationY>549</locationY>
        <actionName>Case.Audit_Notice_for_Waiting_on_Avetta_Finnish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Waiting_on_Avetta_Finnish_Task</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Waiting_on_Avetta_French_Email</name>
        <label>Waiting on Avetta French Email</label>
        <locationX>634</locationX>
        <locationY>557</locationY>
        <actionName>Case.Audit_Notice_for_Waiting_on_Avetta_French</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Waiting_on_Avetta_French_Task</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Waiting_on_Avetta_German_Email</name>
        <label>Waiting on Avetta German Email</label>
        <locationX>323</locationX>
        <locationY>547</locationY>
        <actionName>Case.Audit_Notice_for_Waiting_on_Avetta_German</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Waiting_on_Avetta_German_Task</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Waiting_on_Avetta_Portuguese_Email</name>
        <label>Waiting on Avetta Portuguese Email</label>
        <locationX>711</locationX>
        <locationY>559</locationY>
        <actionName>Case.Audit_Notice_for_Waiting_on_Avetta_Portuguese</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Waiting_on_Avetta_Portuguese_Task</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Waiting_on_Avetta_Spanish_Email</name>
        <label>Waiting on Avetta Spanish Email</label>
        <locationX>550</locationX>
        <locationY>552</locationY>
        <actionName>Case.Audit_Notice_for_Waiting_on_Avetta_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Waiting_on_Avetta_Spanish_Task</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Waiting_on_Avetta_Swedish_Email</name>
        <label>Waiting on Avetta Swedish Email</label>
        <locationX>191</locationX>
        <locationY>553</locationY>
        <actionName>Case.Audit_Notice_for_Waiting_on_Avetta_Swedish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Waiting_on_Avetta_Swedish_Task</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Waiting_on_Supplier_Dutch_Email</name>
        <label>Waiting on Supplier Dutch Email</label>
        <locationX>1385</locationX>
        <locationY>536</locationY>
        <actionName>Case.Audit_Notice_for_Waiting_on_Supplier_Dutch</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Waiting_on_Supplier_Dutch_Task</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Waiting_on_Supplier_English_Email</name>
        <label>Waiting on Supplier English Email</label>
        <locationX>1454</locationX>
        <locationY>534</locationY>
        <actionName>Case.Send_email_when_waiting_on_supplier</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Waiting_on_Supplier_English_Task</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Waiting_on_Supplier_Finnish_Email</name>
        <label>Waiting on Supplier Finnish Email</label>
        <locationX>1241</locationX>
        <locationY>546</locationY>
        <actionName>Case.Audit_Notice_for_Waiting_on_Supplier_Finnish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Waiting_on_Supplier_Finnish_Task</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Waiting_on_Supplier_French_Emails</name>
        <label>Waiting on Supplier - French Emails</label>
        <locationX>1700</locationX>
        <locationY>535</locationY>
        <actionName>Case.Audit_Notice_for_Waiting_on_Supplier_French</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Waiting_on_Supplier_French_Task</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Waiting_on_Supplier_German_Email</name>
        <label>Waiting on Supplier German Email</label>
        <locationX>1316</locationX>
        <locationY>539</locationY>
        <actionName>Case.Audit_Notice_for_Waiting_on_Supplier_German</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Waiting_on_Supplier_German_Task</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Waiting_on_Supplier_Portuguese2</name>
        <label>Waiting on Supplier - Portuguese</label>
        <locationX>1623</locationX>
        <locationY>536</locationY>
        <actionName>Case.Audit_Notice_for_Waiting_on_Supplier_Portuguese</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Waiting_on_Supplier_Portuguese_Task</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Waiting_on_Supplier_Spanish_Emails</name>
        <label>Waiting on Supplier - Spanish Emails</label>
        <locationX>1546</locationX>
        <locationY>536</locationY>
        <actionName>Case.Audit_Notice_for_Waiting_on_Supplier_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Waiting_on_Supplier_Spanish_Task</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Waiting_on_Supplier_Swedish_Email</name>
        <label>Waiting on Supplier Swedish Email</label>
        <locationX>1145</locationX>
        <locationY>543</locationY>
        <actionName>Case.Audit_Notice_for_Waiting_on_Supplier_Swedish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Waiting_on_Supplier_Swedish_Task</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <constants>
        <description>Sent Closed English Email</description>
        <name>SentClosedEnglishEmail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sent Closed English Email</stringValue>
        </value>
    </constants>
    <constants>
        <description>Sent Closed Spanish Email</description>
        <name>SentClosedSpanishEmail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sent Closed Spanish Email</stringValue>
        </value>
    </constants>
    <constants>
        <description>Sent Waiting on Avetta English Email Task Subject Update</description>
        <name>SentWaitingonAvettaEnglishEmail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sent Waiting on Avetta English Email</stringValue>
        </value>
    </constants>
    <constants>
        <description>Sent Waiting on Avetta Spanish Email Task Subject Update</description>
        <name>SentWaitingonAvettaSpanishEmail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sent Waiting on Avetta Spanish Email</stringValue>
        </value>
    </constants>
    <constants>
        <description>Sent Waiting on Supplier English Email Task Subject Update</description>
        <name>SentWaitingonSupplierEnglishEmail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sent Waiting on Supplier English Email</stringValue>
        </value>
    </constants>
    <constants>
        <description>Sent Waiting on Supplier Spanish Email Task</description>
        <name>SentWaitingonSupplierSpanishEmail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sent Waiting on Supplier Spanish Email</stringValue>
        </value>
    </constants>
    <constants>
        <name>SentWaitingonSupplierSpanishEmail2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sent Waiting on Supplier English Email</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Closed_Language_Section</name>
        <label>Closed Language Section</label>
        <locationX>2328</locationX>
        <locationY>405</locationY>
        <defaultConnector>
            <targetReference>AG_Case_Closure_notification_English</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_French</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryLangue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quebec</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Québec</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_French_Email</targetReference>
            </connector>
            <label>Closed French</label>
        </rules>
        <rules>
            <name>Closed_English</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryLangue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AG_Case_Closure_notification_English</targetReference>
            </connector>
            <label>Closed English</label>
        </rules>
        <rules>
            <name>Closed_Spanish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryLangue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Spanish_Email</targetReference>
            </connector>
            <label>Closed Spanish</label>
        </rules>
        <rules>
            <name>Closed_Portuguese</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryLangue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portuguese</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Portuguese_Email</targetReference>
            </connector>
            <label>Closed Portuguese</label>
        </rules>
        <rules>
            <name>Closed_Dutch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryLangue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dutch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Dutch_Email</targetReference>
            </connector>
            <label>Closed Dutch</label>
        </rules>
        <rules>
            <name>Closed_German</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryLangue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>German</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_German_Email</targetReference>
            </connector>
            <label>Closed German</label>
        </rules>
        <rules>
            <name>Closed_Finnish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryLangue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finnish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Finnish_Email</targetReference>
            </connector>
            <label>Closed Finnish</label>
        </rules>
        <rules>
            <name>Closed_Swedish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryLangue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Swedish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Swedish_Email</targetReference>
            </connector>
            <label>Closed Swedish</label>
        </rules>
        <rules>
            <name>Closed_Norwegian</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryLangue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Norwegian</stringValue>
                </rightValue>
            </conditions>
            <label>Closed Norwegian</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Verification</name>
        <label>Status Verification</label>
        <locationX>1698</locationX>
        <locationY>150</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Waiting_on_Avetta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Avetta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Waiting_on_Avetta_Langue_selection</targetReference>
            </connector>
            <label>Waiting on Avetta</label>
        </rules>
        <rules>
            <name>Waiting_on_Supplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Supplier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Waiting_on_Supplier_Langue_Selection</targetReference>
            </connector>
            <label>Waiting on Supplier</label>
        </rules>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Language_Section</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Waiting_on_Avetta_Langue_selection</name>
        <label>Waiting on Avetta Langue selection</label>
        <locationX>469</locationX>
        <locationY>283</locationY>
        <defaultConnector>
            <targetReference>Waiting_on_Avetta_English_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Waiting_on_Avetta_French</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Avetta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryLangue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quebec</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Québec</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Waiting_on_Avetta_French_Email</targetReference>
            </connector>
            <label>Waiting on Avetta French</label>
        </rules>
        <rules>
            <name>Waiting_on_Avetta_English</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Avetta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryLangue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Waiting_on_Avetta_English_Email</targetReference>
            </connector>
            <label>Waiting on Avetta English</label>
        </rules>
        <rules>
            <name>Waiting_on_Avetta_Spanish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Avetta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryLangue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Waiting_on_Avetta_Spanish_Email</targetReference>
            </connector>
            <label>Waiting on Avetta Spanish</label>
        </rules>
        <rules>
            <name>Waiting_on_Avetta_Portuguese</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Avetta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryLangue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portuguese</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Waiting_on_Avetta_Portuguese_Email</targetReference>
            </connector>
            <label>Waiting on Avetta Portuguese</label>
        </rules>
        <rules>
            <name>Waiting_on_Avetta_Dutch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Avetta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryLangue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dutch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Waiting_on_Avetta_Dutch_Email</targetReference>
            </connector>
            <label>Waiting on Avetta Dutch</label>
        </rules>
        <rules>
            <name>Waiting_on_Avetta_German</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Avetta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryLangue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>German</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Waiting_on_Avetta_German_Email</targetReference>
            </connector>
            <label>Waiting on Avetta German</label>
        </rules>
        <rules>
            <name>Waiting_on_Avetta_Finnish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Avetta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryLangue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finnish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Waiting_on_Avetta_Finnish_Email</targetReference>
            </connector>
            <label>Waiting on Avetta Finnish</label>
        </rules>
        <rules>
            <name>Waiting_on_Avetta_Swedish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Avetta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryLangue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Swedish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Waiting_on_Avetta_Swedish_Email</targetReference>
            </connector>
            <label>Waiting on Avetta Swedish</label>
        </rules>
        <rules>
            <name>Waiting_on_Avetta_Norwegian</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Avetta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryLangue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Norwegian</stringValue>
                </rightValue>
            </conditions>
            <label>Waiting on Avetta Norwegian</label>
        </rules>
    </decisions>
    <decisions>
        <name>Waiting_on_Supplier_Langue_Selection</name>
        <label>Waiting on Supplier Langue Selection</label>
        <locationX>1450</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Waiting_on_Supplier_English_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Waiting_on_Supplier_French</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Supplier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryLangue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Québec</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quebec</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Waiting_on_Supplier_French_Emails</targetReference>
            </connector>
            <label>Waiting on Supplier French</label>
        </rules>
        <rules>
            <name>Waiting_on_Supplier_English</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Supplier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryLangue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Waiting_on_Supplier_English_Email</targetReference>
            </connector>
            <label>Waiting on Supplier English</label>
        </rules>
        <rules>
            <name>Waiting_on_Supplier_Spanish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Supplier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryLangue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Waiting_on_Supplier_Spanish_Emails</targetReference>
            </connector>
            <label>Waiting on Supplier Spanish</label>
        </rules>
        <rules>
            <name>Waiting_on_Supplier_Portuguese</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Supplier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryLangue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portuguese</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Waiting_on_Supplier_Portuguese2</targetReference>
            </connector>
            <label>Waiting on Supplier Portuguese</label>
        </rules>
        <rules>
            <name>Waiting_on_Supplier_Dutch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Supplier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryLangue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dutch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Waiting_on_Supplier_Dutch_Email</targetReference>
            </connector>
            <label>Waiting on Supplier Dutch</label>
        </rules>
        <rules>
            <name>Waiting_on_Supplier_German</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Supplier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryLangue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>German</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Waiting_on_Supplier_German_Email</targetReference>
            </connector>
            <label>Waiting on Supplier German</label>
        </rules>
        <rules>
            <name>Waiting_on_Supplier_Finnish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Supplier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryLangue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finnish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Waiting_on_Supplier_Finnish_Email</targetReference>
            </connector>
            <label>Waiting on Supplier Finnish</label>
        </rules>
        <rules>
            <name>Waiting_on_Supplier_Swedish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Supplier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryLangue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Swedish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Waiting_on_Supplier_Swedish_Email</targetReference>
            </connector>
            <label>Waiting on Supplier Swedish</label>
        </rules>
        <rules>
            <name>Waiting_on_Supplier_Norwegian</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Supplier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryLangue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Norwegian</stringValue>
                </rightValue>
            </conditions>
            <label>Waiting on Supplier Norwegian</label>
        </rules>
    </decisions>
    <interviewLabel>AG Case Email-Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AG Case Email-Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Waiting_on_Avetta_Dutch_Task</name>
        <label>Create Waiting on Avetta Dutch Task</label>
        <locationX>384</locationX>
        <locationY>690</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LastModifiedby</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Sent Waiting on Avetta Dutch Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CaseContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Waiting_on_Avetta_English_Task</name>
        <label>Create Waiting on Avetta English Task</label>
        <locationX>476</locationX>
        <locationY>696</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LastModifiedby</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SentWaitingonAvettaEnglishEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CaseContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Waiting_on_Avetta_Finnish_Task</name>
        <label>Create Waiting on Avetta Finnish Task</label>
        <locationX>250</locationX>
        <locationY>692</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LastModifiedby</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Sent Waiting on Avetta Finnish  Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CaseContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Waiting_on_Avetta_French_Task</name>
        <label>Create Waiting on Avetta French Task</label>
        <locationX>634</locationX>
        <locationY>701</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LastModifiedby</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Sent Waiting on Avetta French Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CaseContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Waiting_on_Avetta_German_Task</name>
        <label>Create Waiting on Avetta German Task</label>
        <locationX>309</locationX>
        <locationY>688</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LastModifiedby</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Sent Waiting  on Avetta German Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CaseContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Waiting_on_Avetta_Portuguese_Task</name>
        <label>Create Waiting on Avetta Portuguese Task</label>
        <locationX>708</locationX>
        <locationY>700</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LastModifiedby</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Sent Waiting On Avetta Portuguese Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CaseContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Waiting_on_Avetta_Spanish_Task</name>
        <label>Create Waiting on Avetta Spanish Task</label>
        <locationX>549</locationX>
        <locationY>699</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LastModifiedby</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SentWaitingonAvettaSpanishEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CaseContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Waiting_on_Avetta_Swedish_Task</name>
        <label>Create Waiting on Avetta Swedish Task</label>
        <locationX>180</locationX>
        <locationY>691</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LastModifiedby</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Sent Waiting on Avetta Finnish Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CaseContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Waiting_on_Supplier_Dutch_Task</name>
        <label>Create Waiting on Supplier Dutch Task</label>
        <locationX>1385</locationX>
        <locationY>638</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LastModifiedby</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Sent Waiting on Supplier Dutch Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CaseContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Waiting_on_Supplier_English_Task</name>
        <label>Create Waiting on Supplier English Task</label>
        <locationX>1455</locationX>
        <locationY>646</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LastModifiedby</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SentWaitingonSupplierEnglishEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CaseContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Waiting_on_Supplier_Finnish_Task</name>
        <label>Create Waiting on Supplier Finnish Task</label>
        <locationX>1242</locationX>
        <locationY>641</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LastModifiedby</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Sent Waiting on Supplier Finnish Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CaseContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Waiting_on_Supplier_French_Task</name>
        <label>Create Waiting on Supplier French Task</label>
        <locationX>1702</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LastModifiedby</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Sent Waiting on Supplier French Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CaseContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Waiting_on_Supplier_German_Task</name>
        <label>Create Waiting on Supplier German Task</label>
        <locationX>1317</locationX>
        <locationY>636</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LastModifiedby</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Sent Waiting on Supplier German Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CaseContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Waiting_on_Supplier_Portuguese_Task</name>
        <label>Create Waiting on Supplier Portuguese Task</label>
        <locationX>1625</locationX>
        <locationY>655</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LastModifiedby</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Sent Waiting on Supplier Portuguese Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CaseContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Waiting_on_Supplier_Spanish_Task</name>
        <label>Create Waiting on Supplier Spanish Task</label>
        <locationX>1546</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LastModifiedby</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SentWaitingonSupplierSpanishEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CaseContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Waiting_on_Supplier_Swedish_Task</name>
        <label>Create Waiting on Supplier Swedish Task</label>
        <locationX>1145</locationX>
        <locationY>639</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LastModifiedby</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Sent Waiting on Supplier Swedish Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CaseContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Task_Closed_Dutch_Email_Update</name>
        <label>Task Closed Dutch Email Update</label>
        <locationX>2267</locationX>
        <locationY>691</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LastModifiedby</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Sent Closed Dutch Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CaseContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Task_Closed_English_Email_Update</name>
        <label>Task Closed English Email Update</label>
        <locationX>2340</locationX>
        <locationY>693</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LastModifiedby</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SentClosedEnglishEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CaseContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Task_Closed_Finnish_Email_Update</name>
        <label>Task Closed Finnish Email Update</label>
        <locationX>2136</locationX>
        <locationY>697</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LastModifiedby</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Sent Closed Finnish Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CaseContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Task_Closed_French_Email_Update</name>
        <label>Task Closed French Email Update</label>
        <locationX>2603</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LastModifiedby</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Sent Closed French Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CaseContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Task_Closed_German_Email_Update</name>
        <label>Task Closed German Email Update</label>
        <locationX>2202</locationX>
        <locationY>694</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LastModifiedby</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Sent Closed German Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CaseContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Task_Closed_Portuguese_Email_Update</name>
        <label>Task Closed Portuguese Email Update</label>
        <locationX>2518</locationX>
        <locationY>667</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LastModifiedby</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Sent Closed Portuguese Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CaseContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Task_Closed_Spanish_Email_Update</name>
        <label>Task Closed Spanish Email Update</label>
        <locationX>2449</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LastModifiedby</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SentClosedSpanishEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CaseContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Task_Closed_Swedish_Email_Update</name>
        <label>Task Closed Swedish Email Update</label>
        <locationX>2063</locationX>
        <locationY>691</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LastModifiedby</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Sent Completed Swedish Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CaseContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Status_Verification</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CaseOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CountryLangue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LastModifiedby</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
