force-app/main/default/flows/AG_PQF_Verification.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>IS_PQF_Closed</name>
        <label>IS PQF Closed</label>
        <locationX>430</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_PQF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PQFSubject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Safety And Health Management System Documentation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PQFAccountid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AccountID</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PQFIsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Stage</targetReference>
            </connector>
            <label>Closed PQF</label>
        </rules>
    </decisions>
    <formulas>
        <description>Used to calculate the Audit SLA</description>
        <name>AuditSLAFormula</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + {!Triggeringcase.SLA_Days__c}+1</expression>
    </formulas>
    <formulas>
        <description>Holds PQF closed date plus 180 days</description>
        <name>PQFcloseddate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 150</expression>
    </formulas>
    <interviewLabel>AG PQF Verification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AG PQF Verification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Is_There_a_closed_PQF</name>
        <label>Is There a closed PQF?</label>
        <locationX>255</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IS_PQF_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>ClosedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateTimeValue>2019-01-01T07:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>PQF - Safety And Health Management System Documentation</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>PQFAccountid</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PQFCloseDate</assignToReference>
            <field>ClosedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PQFCase.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PQFIsClosed</assignToReference>
            <field>IsClosed</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PQFCaseStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PQFSubject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Stage</name>
        <label>Update Case Stage</label>
        <locationX>713</locationX>
        <locationY>60</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AuditSLA2__c</field>
            <value>
                <elementReference>AuditSLAFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Is_There_a_closed_PQF</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>PQFAccountid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>PQFCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>PQFCaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>PQFCloseDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>PQFIsClosed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>PQFSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Triggeringcase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
