force-app/main/default/flows/Audt_Update_Manual_Update_case_status_to_New.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>ManualAudit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Manual Audit</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Did_We_Find_Exiting_Manual_Audit_Cases</name>
        <label>Did We Find Exiting Manual Audit Cases</label>
        <locationX>842</locationX>
        <locationY>69</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Existing_Manual_Audit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Triggering_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Pending_Manual_Audit_case_on_the_Account</name>
        <label>Is there a Pending Manual Audit case on the Account?</label>
        <locationX>390</locationX>
        <locationY>440</locationY>
        <defaultConnector>
            <targetReference>Update_the_Manaul_Audit_Case_Status_to_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Triggering_Case_an_Audit</name>
        <label>Is Triggering Case an Audit?</label>
        <locationX>389</locationX>
        <locationY>68</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Audit_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCaseSubject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Manual Audit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Existing_Manual_Audit</targetReference>
            </connector>
            <label>Is Audit Case</label>
        </rules>
        <rules>
            <name>Safety_And_Health_Management_System_Documentation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCaseSubject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Safety And Health Management System Documentation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_a_Pending_Manual_Audit_Case</targetReference>
            </connector>
            <label>Safety And Health Management System Documentation</label>
        </rules>
    </decisions>
    <interviewLabel>Audt: Update Manual Update case status to New {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Audt: Update Manual Update case status to New</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_a_Pending_Manual_Audit_Case</name>
        <label>Find a Pending Manual Audit Case</label>
        <locationX>398</locationX>
        <locationY>277</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_Pending_Manual_Audit_case_on_the_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0120g0000009tWmAAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <elementReference>ManualAudit</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CaseID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Existing_Manual_Audit</name>
        <label>Find Existing Manual Audit</label>
        <locationX>642</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_We_Find_Exiting_Manual_Audit_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>TriggeringCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0120g0000009tWm</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCaseSubject</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>auditGuard</stringValue>
            </value>
        </filters>
        <filters>
            <field>Valid_Start_Year__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>TriggeringCaseValidStartYear</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Manaul_Audit_Case_Status_to_New</name>
        <label>Update the Manaul Audit Case Status to New</label>
        <locationX>566</locationX>
        <locationY>436</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Triggering_Case</name>
        <label>Update Triggering Case</label>
        <locationX>1030</locationX>
        <locationY>73</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TriggeringCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Renewal_Audit__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>48</locationX>
        <locationY>64</locationY>
        <connector>
            <targetReference>Is_Triggering_Case_an_Audit</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentCaseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TriggeringCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TriggeringCaseValidStartYear</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
