force-app/main/default/flows/Case_Audit_Set_SLA.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AddCurrentCaseToUpdatedCases</name>
        <label>AddCurrentCaseToUpdatedCases</label>
        <locationX>419</locationX>
        <locationY>941</locationY>
        <assignmentItems>
            <assignToReference>UpdatedCases</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>CurrentCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SLAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_SLA</name>
        <label>Set Case SLA</label>
        <locationX>419</locationX>
        <locationY>738</locationY>
        <assignmentItems>
            <assignToReference>CurrentCase.SLA_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SLA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCurrentCaseToUpdatedCases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SLA_Vetify</name>
        <label>Set SLA Vetify</label>
        <locationX>177</locationX>
        <locationY>543</locationY>
        <assignmentItems>
            <assignToReference>SLA</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SLAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SLA_equals_10</name>
        <label>SLA = 10 day</label>
        <locationX>1095</locationX>
        <locationY>298</locationY>
        <assignmentItems>
            <assignToReference>SLA</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_LafargeHolcim</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SLA_equals_2</name>
        <label>SLA = 2 day</label>
        <locationX>1099</locationX>
        <locationY>560</locationY>
        <assignmentItems>
            <assignToReference>SLA</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Amazon_Entergy_and_Vetify</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SLA_equals_5</name>
        <label>SLA = 5 day</label>
        <locationX>1096</locationX>
        <locationY>435</locationY>
        <assignmentItems>
            <assignToReference>SLA</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Verizon_BASF</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Client_equals_Amazon_Entergy</name>
        <label>Client = Amazon, Entergy</label>
        <locationX>866</locationX>
        <locationY>495</locationY>
        <defaultConnector>
            <targetReference>Loop_for_Amazon_Entergy_and_Vetify</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Amazon_Entergy</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOC.Client_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Amazon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOC.Client_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Entergy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOC.Client_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Profiles ENT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SLA_equals_2</targetReference>
            </connector>
            <label>Amazon, Entergy</label>
        </rules>
    </decisions>
    <decisions>
        <name>Client_Equals_LafargeHolcim</name>
        <label>Client = LafargeHolcim</label>
        <locationX>864</locationX>
        <locationY>212</locationY>
        <defaultConnector>
            <targetReference>Loop_for_LafargeHolcim</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>LafargeHolcim</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOC.Client_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Lafarge</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOC.Client_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Holcim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOC.Client_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>INCOPE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOC.Client_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Aggregate Industries</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOC.Client_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>AI UK Corporate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SLA_equals_10</targetReference>
            </connector>
            <label>LafargeHolcim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Client_Verizon_BASF_Client_Rush</name>
        <label>Client = Verizon, BASF, Client Rush</label>
        <locationX>866</locationX>
        <locationY>366</locationY>
        <defaultConnector>
            <targetReference>Loop_for_Verizon_BASF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Verizon_and_BASF</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOC.Client_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Verizon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOC.Client_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>BASF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SLA_equals_5</targetReference>
            </connector>
            <label>Verizon &amp; BASF</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_We_Find_Open_Audit_Cases</name>
        <label>Did We Find Open Audit Cases</label>
        <locationX>402</locationX>
        <locationY>53</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Audit_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Audit_Cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Account_Set_Vetify</targetReference>
            </connector>
            <label>Found Audit Cases</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vetify_True</name>
        <label>Vetify = True</label>
        <locationX>400</locationX>
        <locationY>478</locationY>
        <defaultConnector>
            <targetReference>Update_SLAs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vetify</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SLA_Vetify</targetReference>
            </connector>
            <label>Vetify True</label>
        </rules>
    </decisions>
    <description>This flow will lookup all the operator contractor objects for a specific contractor and evaluate them in turn to calculate the SLA (in days) for audit cases.</description>
    <interviewLabel>Case Audit Set SLA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Audit Set SLA</label>
    <loops>
        <description>Loop through OCs looking for Amazon, Entergy or Profiles ENT, and Vetify.</description>
        <name>Loop_for_Amazon_Entergy_and_Vetify</name>
        <label>Loop for Amazon, Entergy, and Vetify</label>
        <locationX>642</locationX>
        <locationY>586</locationY>
        <assignNextValueToReference>CurrentOC</assignNextValueToReference>
        <collectionReference>OperatorContractors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Client_equals_Amazon_Entergy</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Vetify_True</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through OCs looking for LafargeHolcim, Holcim, Aggregate Industries, AI EMEA, AI UK, and INCOPE.</description>
        <name>Loop_for_LafargeHolcim</name>
        <label>Loop for LafargeHolcim</label>
        <locationX>636</locationX>
        <locationY>298</locationY>
        <assignNextValueToReference>CurrentOC</assignNextValueToReference>
        <collectionReference>OperatorContractors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Client_Equals_LafargeHolcim</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_for_Verizon_BASF</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through OCs looking for Verizon, BASF, and potentially Standard Client Rushes (if we add a checkbox to indicate a rush request).</description>
        <name>Loop_for_Verizon_BASF</name>
        <label>Loop for Verizon &amp; BASF</label>
        <locationX>638</locationX>
        <locationY>435</locationY>
        <assignNextValueToReference>CurrentOC</assignNextValueToReference>
        <collectionReference>OperatorContractors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Client_Verizon_BASF_Client_Rush</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_for_Amazon_Entergy_and_Vetify</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_SLAs</name>
        <label>Update SLAs</label>
        <locationX>184</locationX>
        <locationY>854</locationY>
        <assignNextValueToReference>CurrentCase</assignNextValueToReference>
        <collectionReference>Find_Audit_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Case_SLA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_SLA_on_Audit_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Collect_OperatorContractor_Records</name>
        <label>Collect OperatorContractor Records</label>
        <locationX>637</locationX>
        <locationY>176</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_for_LafargeHolcim</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contractor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractorID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Operator_Contractor__c</object>
        <outputReference>OperatorContractors</outputReference>
        <queriedFields>Contractor__c</queriedFields>
        <queriedFields>Operator__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Client_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Account_Set_Vetify</name>
        <label>Find Account Set Vetify</label>
        <locationX>625</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_OperatorContractor_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractorID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Vetify</assignToReference>
            <field>Vetify__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Audit_Cases</name>
        <label>Find Audit Cases</label>
        <locationX>202</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_We_Find_Open_Audit_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractorID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>auditGuard</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SLA_on_Audit_Cases</name>
        <label>Update SLA on Audit Cases</label>
        <locationX>186</locationX>
        <locationY>1032</locationY>
        <inputReference>UpdatedCases</inputReference>
    </recordUpdates>
    <start>
        <locationX>47</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Find_Audit_Cases</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>List of audit cases associated to the supplier (contractor)</description>
        <name>AuditCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Variable to accept the ContractorID from the process builder and passed into the flow to populate the operator contractor list.</description>
        <name>ContractorID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The current case record.</description>
        <name>CurrentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>The current operator contractor for use in the loops.</description>
        <name>CurrentOC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Operator_Contractor__c</objectType>
    </variables>
    <variables>
        <description>List of operator contractors</description>
        <name>OperatorContractors</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Operator_Contractor__c</objectType>
    </variables>
    <variables>
        <description>The number of days for an SLA will be used to set the number of days for the SLA on audit cases.</description>
        <name>SLA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>13.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>The case list for the updated cases.  Will be used to set the variables in the fast update.</description>
        <name>UpdatedCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Is the contractor a vetify customer.</description>
        <name>Vetify</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
