force-app/main/default/flows/Chat_Average_Score.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Average_Score</name>
        <label>Set Average Score</label>
        <locationX>189</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>AverageScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChatAverageScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Chat_Score</targetReference>
        </connector>
    </assignments>
    <description>Calculate the Chat Ave Score on the QA Forms object</description>
    <formulas>
        <name>ChatAverageScore</name>
        <dataType>Number</dataType>
        <expression>{!ChatNumerator}/{!ChatScoreDivisor}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Chat Average Score {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chat Average Score</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Chat_Score</name>
        <label>Update Chat Score</label>
        <locationX>329</locationX>
        <locationY>51</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TriggeringQAText</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Average_Score2__c</field>
            <value>
                <elementReference>AverageScore</elementReference>
            </value>
        </inputAssignments>
        <object>QA_Form__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Set_Average_Score</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AverageScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ChatNumerator</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ChatScoreDivisor</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TriggeringQAText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
