force-app/main/default/flows/CHD_Related_Case_Priority_Update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignRecordID</name>
        <label>AssignRecordID</label>
        <locationX>369</locationX>
        <locationY>85</locationY>
        <assignmentItems>
            <assignToReference>CaseID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TriggeringCaseID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FindRelatedCases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Updated_Case</name>
        <label>Store Updated Case</label>
        <locationX>839</locationX>
        <locationY>495</locationY>
        <assignmentItems>
            <assignToReference>UpdatedCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ChildCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Child_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Priority</name>
        <label>Update Priority</label>
        <locationX>830</locationX>
        <locationY>267</locationY>
        <assignmentItems>
            <assignToReference>ChildCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>P3 - Rush</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildCase.Time_of_Rush_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentRushRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Updated_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_There_Child_Cases</name>
        <label>Are There Child Cases?</label>
        <locationX>599</locationX>
        <locationY>86</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindRelatedCases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Child_Cases</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>CHD Related Case Priority Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CHD Related Case Priority Update</label>
    <loops>
        <name>Store_Child_Cases</name>
        <label>Store Child Cases</label>
        <locationX>605</locationX>
        <locationY>367</locationY>
        <assignNextValueToReference>ChildCase</assignNextValueToReference>
        <collectionReference>FindRelatedCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Priority</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Child_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FindRelatedCases</name>
        <label>FindRelatedCases</label>
        <locationX>488</locationX>
        <locationY>80</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_There_Child_Cases</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0120g0000009tWmAAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>auditGuard</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>insureGuard</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>docuGuard</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Child_Cases</name>
        <label>Update Child Cases</label>
        <locationX>398</locationX>
        <locationY>359</locationY>
        <inputReference>UpdatedCases</inputReference>
    </recordUpdates>
    <start>
        <locationX>13</locationX>
        <locationY>25</locationY>
        <connector>
            <targetReference>AssignRecordID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ChildCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ParentRushRequest</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>TriggeringCaseID.Time_of_Rush_Request__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>TriggeringCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>TriggeringCaseID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>UpdatedCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
