force-app/main/default/flows/Check_If_active_Client.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Did_you_find_an_Active_domain</name>
        <label>Did you find an Active domain?</label>
        <locationX>340</locationX>
        <locationY>123</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_NORAM_US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailDomain.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TriggeringLead.Email_Domain__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmailDomain.ClientRegion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U.S.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TriggeringLead.Active_Client_Leads__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_lead_as_Active_Client</targetReference>
            </connector>
            <label>Yes NORAM -US</label>
        </rules>
        <rules>
            <name>Yes_NORAM_CA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailDomain.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TriggeringLead.Email_Domain__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmailDomain.ClientRegion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TriggeringLead.Active_Client_Leads__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_lead_as_Active_Client</targetReference>
            </connector>
            <label>Yes NORAM - CA</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailDomain.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TriggeringLead.Email_Domain__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmailDomain.ClientRegion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TriggeringLead.Region__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TriggeringLead.Active_Client_Leads__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_lead_as_Active_Client</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TriggeringLead.Active_Client_Leads__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_an_Active_client_lead</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>Check If active Client {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check If active Client</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_matching_active_Client</name>
        <label>Find matching active Client</label>
        <locationX>194</locationX>
        <locationY>123</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_you_find_an_Active_domain</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Did_you_find_an_Active_domain</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClientRegion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TriggeringLead.Region__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TriggeringLead.Email_Domain__c</elementReference>
            </value>
        </filters>
        <object>Email_Domain__c</object>
        <outputReference>EmailDomain</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ClientRegion__c</queriedFields>
        <queriedFields>Account_Billing_State__c</queriedFields>
        <queriedFields>Account_Billing_Country__c</queriedFields>
        <queriedFields>Client_is_Active__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Domain_Type__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Mark_lead_as_Active_Client</name>
        <label>Mark lead as Active Client</label>
        <locationX>544</locationX>
        <locationY>124</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TriggeringLead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Client_Leads__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Not_an_Active_client_lead</name>
        <label>Not an Active client lead</label>
        <locationX>349</locationX>
        <locationY>378</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TriggeringLead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Client_Leads__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>55</locationX>
        <locationY>124</locationY>
        <connector>
            <targetReference>Find_matching_active_Client</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DomainName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>EmailDomain</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Email_Domain__c</objectType>
    </variables>
    <variables>
        <name>Region</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>TriggeringLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
