force-app/main/default/flows/Child_Contractor_Vetify_Position_Update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Vetify_Position</name>
        <label>Assign Vetify Position</label>
        <locationX>426</locationX>
        <locationY>361</locationY>
        <assignmentItems>
            <assignToReference>Contractor.Vetify_Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Parent_Account.Vetify_Position__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Updated_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Updated_Account</name>
        <label>Store Updated Account</label>
        <locationX>174</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>UpdateAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contractor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Contractors</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Contractor Vetify Position {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Child Contractor Vetify Position Update</label>
    <loops>
        <name>Store_Contractors</name>
        <label>Store Contractors</label>
        <locationX>378</locationX>
        <locationY>55</locationY>
        <assignNextValueToReference>Contractor</assignNextValueToReference>
        <collectionReference>Find_Child_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Vetify_Position</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Child_Accounts</name>
        <label>Find Child Accounts</label>
        <locationX>250</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Contractors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Deactivated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Vetify_Position__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Parent_Account</name>
        <label>Find Parent Account</label>
        <locationX>148</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Child_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentAccountID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Accounts</name>
        <label>Update Accounts</label>
        <locationX>547</locationX>
        <locationY>61</locationY>
        <inputReference>UpdateAccount</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Find_Parent_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Contractor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ParentAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentVetifyPosition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StoredContractor</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>UpdateAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>UpdatedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
