force-app/main/default/flows/Client_Feedback_Requested_Date.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Update_Client_Feedback_Requested_Date</name>
        <label>Update Client Feedback Requested Date</label>
        <locationX>904</locationX>
        <locationY>113</locationY>
        <assignmentItems>
            <assignToReference>$Record.Client_Feedback_Requested_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Client_Feedback_Requested</name>
        <label>Client Feedback Requested</label>
        <locationX>645</locationX>
        <locationY>115</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Client_Feedback_Requested_Modified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Client_Feedback_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_Triggering_Opp.Client_Feedback_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Client_Feedback_Requested_Date</targetReference>
            </connector>
            <label>Client Feedback Requested Modified</label>
        </rules>
    </decisions>
    <description>The flow looks for opps that have changed the opportunity value for client feedback requested checkbox.  This will assign today&apos;s date to client feedback requested date field.</description>
    <formulas>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Client Feedback Requested Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Client Feedback Requested Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Triggering_Opp</name>
        <label>Find Triggering Opp</label>
        <locationX>474</locationX>
        <locationY>114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Client_Feedback_Requested</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Find_Triggering_Opp</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
