force-app/main/default/flows/Closed_Case_Email_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Supplier_Responded_within_72_Hrs</name>
        <label>Supplier Responded within 72 Hrs</label>
        <locationX>36</locationX>
        <locationY>370</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Post</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>ParentCaseID</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ParentCaseID</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>AvettaSupportQueue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00G70000003W4Xh</stringValue>
        </value>
    </constants>
    <constants>
        <name>CaseOrigin</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Avetta Support</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Does this email have a New Case email?</description>
        <name>Has_a_New_Case</name>
        <label>Has a New Case?</label>
        <locationX>719</locationX>
        <locationY>305</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_New_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Case</targetReference>
            </connector>
            <label>No New Case</label>
        </rules>
        <rules>
            <name>Has_New_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attach_new_Email</targetReference>
            </connector>
            <label>Has New Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Within_72_Hours</name>
        <label>Within 72 Hours?</label>
        <locationX>480</locationX>
        <locationY>127</locationY>
        <defaultConnector>
            <targetReference>Fined_new_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Supplier_within_72_Hrs</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Within72HoursBoolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_Case_Details.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01270000000cebIAAQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_Case_Details.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120g000000YVGkAAO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reopen_Supplier_Case</targetReference>
            </connector>
            <label>Supplier within 72 Hrs</label>
        </rules>
        <rules>
            <name>Client_within_72_Hrs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Within72HoursBoolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_Case_Details.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01270000000cebGAAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reopen_Client_Case</targetReference>
            </connector>
            <label>Client within 72 Hrs</label>
        </rules>
    </decisions>
    <description>Flow Triggers when an email is sent to a closed case.</description>
    <formulas>
        <name>Within72HoursBoolean</name>
        <dataType>Boolean</dataType>
        <expression>IF(DATEVALUE({!Find_Case_Details.ClosedDate}) &gt;= Today() +(-3),True, False)</expression>
    </formulas>
    <interviewLabel>Closed Case Email Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Closed Case Email Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Attach new email to existing open Case.</description>
        <name>Attach_new_Email</name>
        <label>Attach new Email</label>
        <locationX>735</locationX>
        <locationY>585</locationY>
        <connector>
            <targetReference>Update_New_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>BccAddress</field>
            <value>
                <elementReference>OriginalBCCAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>OriginalCCAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <elementReference>FromEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <elementReference>FromName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>HTMLBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>NewCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextBody</field>
            <value>
                <elementReference>TextBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>ToAddress</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <recordCreates>
        <name>Copy_Trigger_Email</name>
        <label>Copy Trigger Email</label>
        <locationX>1193</locationX>
        <locationY>307</locationY>
        <connector>
            <targetReference>Update_Original_emails</targetReference>
        </connector>
        <inputAssignments>
            <field>BccAddress</field>
            <value>
                <elementReference>OriginalBCCAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>OriginalCCAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <elementReference>FromEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <elementReference>FromName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>HTMLBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>NewCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextBody</field>
            <value>
                <elementReference>TextBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>ToAddress</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Case</name>
        <label>Create New Case</label>
        <locationX>923</locationX>
        <locationY>298</locationY>
        <assignRecordIdToReference>NewCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Copy_Trigger_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>CaseAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>CaseContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>TextBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>CaseOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>AvettaSupportQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>ParentCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>WebEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Case_Details</name>
        <label>Find Case Details</label>
        <locationX>254</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Within_72_Hours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ClosedDate</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>ContactEmail</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fined_new_email</name>
        <label>Fined new email`</label>
        <locationX>676</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_a_New_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NewCase__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCaseID</elementReference>
            </value>
        </filters>
        <object>EmailMessage</object>
        <outputAssignments>
            <assignToReference>EmailCreatedDate</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FromName</assignToReference>
            <field>FromName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IncomingEmail</assignToReference>
            <field>Incoming</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NewCase</assignToReference>
            <field>NewCase__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <description>This action will update the parent case status to waiting on Avetta.</description>
        <name>Reopen_Client_Case</name>
        <label>Reopen Client Case</label>
        <locationX>381</locationX>
        <locationY>379</locationY>
        <connector>
            <targetReference>Supplier_Responded_within_72_Hrs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Request Feedback</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>This action will update the parent case status to waiting on Avetta.</description>
        <name>Reopen_Supplier_Case</name>
        <label>Reopen Supplier Case</label>
        <locationX>236</locationX>
        <locationY>230</locationY>
        <connector>
            <targetReference>Supplier_Responded_within_72_Hrs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Waiting on Avetta</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Email</name>
        <label>Update New Email</label>
        <locationX>296</locationX>
        <locationY>582</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TriggerEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>NewCase__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>NewCase__c</field>
            <value>
                <elementReference>NewCase</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Original_emails</name>
        <label>Update Original emails</label>
        <locationX>1193</locationX>
        <locationY>576</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TriggerEmail</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NewCase__c</field>
            <value>
                <elementReference>NewCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Find_Case_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SupplierResponedwithin72Hours</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;@ [{!Find_Case_Details.OwnerId}]  The customer has responded within 72 hours of closing your case.  Please review their response.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CaseAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CaseContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CaseRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>EmailBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>EmailCreatedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>FromEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>FromName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>HTMLBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>IncomingEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>NewCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>OriginalBCCAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>OriginalCCAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ParentCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Post</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>@[{!Find_Case_Details.OwnerId}] The customer has responded to your closed case.  Since the case was recently closed we have reopened the case.  Please review the response and take the appropriate action.</stringValue>
        </value>
    </variables>
    <variables>
        <name>TextBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ToAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>TriggerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>WebEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
