force-app/main/default/flows/Coaching_Follow_up_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Flow for follow up coaching record creation</description>
    <formulas>
        <name>FollowUpReminderFormula</name>
        <dataType>String</dataType>
        <expression>&quot;Follow up for &quot; &amp; {!EmployeeName.FirstName} &amp; &quot; &quot; &amp; {!EmployeeName.LastName}</expression>
    </formulas>
    <interviewLabel>Coaching Follow up Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Coaching Follow up Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Follow_up_Coaching</name>
        <label>Create Follow up Coaching</label>
        <locationX>146</locationX>
        <locationY>184</locationY>
        <assignRecordIdToReference>FollowUpCoachingID</assignRecordIdToReference>
        <connector>
            <targetReference>Follow_up_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_of_Coaching__c</field>
            <value>
                <elementReference>FollowupDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Previous_Coaching__c</field>
            <value>
                <elementReference>DateofCoaching</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee_Name__c</field>
            <value>
                <elementReference>EmployeeName.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_up_Items__c</field>
            <value>
                <elementReference>FollowupItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Coaching__c</field>
            <value>
                <elementReference>OriginalCoachingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120g000000UToKAAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>coachingType</elementReference>
            </value>
        </inputAssignments>
        <object>Avetta_Coaching__c</object>
    </recordCreates>
    <recordCreates>
        <name>Follow_up_Task</name>
        <label>Follow up Task</label>
        <locationX>263</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FollowupDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>FollowupDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>FollowUpReminderFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>FollowUpCoachingID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <start>
        <locationX>70</locationX>
        <locationY>34</locationY>
        <connector>
            <targetReference>Create_Follow_up_Coaching</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>FollowupReminder</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Follow up for {!EmployeeName.FirstName} {!EmployeeName.LastName}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>coachingType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DateofCoaching</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmployeeFullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>EmployeeName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>FollowUpCoachingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>FollowupDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FollowupItems</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>OriginalCoachingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Owner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
