force-app/main/default/flows/Completed_Idea_Case_Creation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>BA_d</name>
        <label>BA&apos;d?</label>
        <locationX>479</locationX>
        <locationY>119</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BAd__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SF_Support_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow will fire anytime an Idea has been BA&apos;d and will use the data from the Idea to create a Salesforce Support Case.</description>
    <interviewLabel>Completed Idea Case Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Completed Idea Case Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_SF_Support_Case</name>
        <label>Create SF Support Case</label>
        <locationX>714</locationX>
        <locationY>118</locationY>
        <connector>
            <targetReference>Update_Idea</targetReference>
        </connector>
        <inputAssignments>
            <field>BA_Complete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BA_Effort_Hours__c</field>
            <value>
                <elementReference>$Record.BA_Effort_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Benefiting_Team__c</field>
            <value>
                <elementReference>$Record.Submitting_Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Issue__c</field>
            <value>
                <elementReference>$Record.User_Story__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffortType__c</field>
            <value>
                <elementReference>$Record.Effort_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedResults__c</field>
            <value>
                <elementReference>$Record.Business_Requirements__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Needs_a_deployment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G0g000002MKGy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120g0000009tDpAAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reporting_User__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Idea</name>
        <label>Update Idea</label>
        <locationX>871</locationX>
        <locationY>132</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_SF_Support_Case</elementReference>
            </value>
        </inputAssignments>
        <object>Ideas__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>BA_d</targetReference>
        </connector>
        <object>Ideas__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
