force-app/main/default/flows/Create_Save_Opportunity_MYM.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Contact_Role</name>
        <label>Contact Role?</label>
        <locationX>647</locationX>
        <locationY>386</locationY>
        <defaultConnector>
            <targetReference>Create_the_Contact_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create a contact role</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OCRContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_existing_open_Save_opportunity</name>
        <label>Is there an existing open Save opportunity?</label>
        <locationX>107</locationX>
        <locationY>105</locationY>
        <defaultConnectorLabel>Don&apos;t create an Opportunity</defaultConnectorLabel>
        <rules>
            <name>Create_an_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingOpty.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Billing_Account_info_for_Renewal_and_Term_Start_Dates</targetReference>
            </connector>
            <label>Create an Opportunity</label>
        </rules>
    </decisions>
    <interviewLabel>Create Save Opportunity - MYM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Save Opportunity - MYM</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_new_Save_Opportunity</name>
        <label>Create new Save Opportunity</label>
        <locationX>833</locationX>
        <locationY>384</locationY>
        <assignRecordIdToReference>OptyID</assignRecordIdToReference>
        <connector>
            <targetReference>Contact_Role</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>RenewalDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Deactivation Request - MYM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Settings.Default_Opportunity_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Date__c</field>
            <value>
                <elementReference>RenewalDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Start_Date__c</field>
            <value>
                <elementReference>TermStartDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_the_Contact_Role</name>
        <label>Create the Contact Role</label>
        <locationX>380</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>OCRContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OptyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Business User</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordLookups>
        <name>Get_General_SIT_Settings_for_OwnerID</name>
        <label>Get General SIT Settings for OwnerID</label>
        <locationX>833</locationX>
        <locationY>105</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_new_Save_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>General SIT</stringValue>
            </value>
        </filters>
        <object>SIT_Settings__c</object>
        <outputAssignments>
            <assignToReference>Settings.Default_Opportunity_Owner__c</assignToReference>
            <field>Default_Opportunity_Owner__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Look_for_existing_open_Save_Deactivation_opty</name>
        <label>Look for existing open Save:Deactivation opty</label>
        <locationX>113</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_an_existing_open_Save_opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>ExistingOpty.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Billing_Account_info_for_Renewal_and_Term_Start_Dates</name>
        <label>Lookup Billing Account info for Renewal and Term Start Dates</label>
        <locationX>377</locationX>
        <locationY>99</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_ContactID_from_Opp_Contact_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Zuora__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Zuora__Subscription__c</object>
        <outputAssignments>
            <assignToReference>RenewalDate</assignToReference>
            <field>Zuora__NextRenewalDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TermStartDate</assignToReference>
            <field>Zuora__TermStartDate__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_ContactID_from_Opp_Contact_Role</name>
        <label>Lookup ContactID from Opp Contact Role</label>
        <locationX>649</locationX>
        <locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_General_SIT_Settings_for_OwnerID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OriginalOptyId</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputAssignments>
            <assignToReference>OCRContactID</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_RecordTypeID</name>
        <label>Lookup RecordTypeID</label>
        <locationX>114</locationX>
        <locationY>380</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Look_for_existing_open_Save_Deactivation_opty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retention</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeName</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Lookup_RecordTypeID</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExistingOpty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OCRContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OptyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OriginalOptyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RenewalDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Settings</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SIT_Settings__c</objectType>
    </variables>
    <variables>
        <name>TermStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
