force-app/main/default/flows/Create_Knowledge_Review.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Creates Knowledge Review</description>
    <interviewLabel>Create Knowledge Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Knowledge Review</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Knowledge_Review</name>
        <label>Create Knowledge Review</label>
        <locationX>228</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Update_New_Review_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Knowledge_Article__c</field>
            <value>
                <elementReference>$Record.Knowledge_Article__c</elementReference>
            </value>
        </inputAssignments>
        <object>Knowledge_Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_New_Review_Created</name>
        <label>Update New Review Created</label>
        <locationX>397</locationX>
        <locationY>50</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>New_Review_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Knowledge_Review__c</object>
    </recordUpdates>
    <start>
        <locationX>49</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_Knowledge_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Needs_New_review__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>New_Review_Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Publish_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Online</stringValue>
            </value>
        </filters>
        <object>Knowledge_Review__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-04-20</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
