force-app/main/default/flows/Create_Related_Client_Cases.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignRcc</name>
        <label>AssignRcc</label>
        <locationX>695</locationX>
        <locationY>646</locationY>
        <assignmentItems>
            <assignToReference>SetRcc.Related_Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Individual_OC.Operator__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetRcc.Related_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TriggeringCaseID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HoldAllRcc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HoldAllRcc</name>
        <label>HoldAllRcc</label>
        <locationX>493</locationX>
        <locationY>646</locationY>
        <assignmentItems>
            <assignToReference>VarAllRcc</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SetRcc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Limit_Checker</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Loop_Limit_Checker</name>
        <label>Loop Limit Checker</label>
        <locationX>456</locationX>
        <locationY>517</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCounter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Related_Client_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCounter</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Individual_OC</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>Create Related Client Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Related Client Cases</label>
    <loops>
        <name>Individual_OC</name>
        <label>Individual OC</label>
        <locationX>607</locationX>
        <locationY>445</locationY>
        <collectionReference>Find_Related_Client_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignRcc</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Related_Client_Case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Related_Client_Case</name>
        <label>Create Related Client Case</label>
        <locationX>227</locationX>
        <locationY>445</locationY>
        <inputReference>VarAllRcc</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Related_Client_Cases</name>
        <label>Find Related Client Cases</label>
        <locationX>461</locationX>
        <locationY>70</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Individual_OC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contractor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Operator_Contractor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Find_Related_Client_Cases</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SetRcc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Related_Client_Case__c</objectType>
    </variables>
    <variables>
        <name>StoreRelatedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>TriggeringCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarAllRcc</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Related_Client_Case__c</objectType>
    </variables>
</Flow>
