force-app/main/default/flows/Create_Collection_Opty.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Deactivation_requested_already</name>
        <label>Deactivation requested already</label>
        <locationX>1382</locationX>
        <locationY>358</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Invoice.Zuora__Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>There is already a deactivation requested.</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Invoice.Zuora__Account__c</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>Don&apos;t do anything if the invoice balance is $0.</description>
        <name>Invoice_Balance_0</name>
        <label>Invoice Balance = $0?</label>
        <locationX>434</locationX>
        <locationY>219</locationY>
        <defaultConnector>
            <targetReference>Looking_up_the_Subscription</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Balance is greater than $0</defaultConnectorLabel>
        <rules>
            <name>Balance_equals_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Invoice.Zuora__Balance2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>Balance equals $0</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if a contact was found where the user is primary in Connect.</description>
        <name>Is_there_a_primary_connect_user</name>
        <label>Is there a primary connect user?</label>
        <locationX>1161</locationX>
        <locationY>816</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UserFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_Contact_Role_0_0_0_0_0</targetReference>
            </connector>
            <label>UserFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_open_Retention_opportunity</name>
        <label>Is there an open Retention opportunity</label>
        <locationX>1122</locationX>
        <locationY>357</locationY>
        <defaultConnector>
            <targetReference>Who_should_be_the_default_owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RetentionOptyId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivation_requested_already</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_kind_of_Opportunity_Should_we_Create</name>
        <label>What kind of Opportunity Should we Create</label>
        <locationX>1640</locationX>
        <locationY>498</locationY>
        <defaultConnector>
            <targetReference>Create_Collection_Renewal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Create_an_Upgrade_Collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Invoice.PicsInvoiceTag__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Activation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Invoice.PicsInvoiceTag__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Reactivation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Invoice.PicsInvoiceTag__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Invoice.PicsInvoiceTag__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ClientRenewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Invoice.PicsInvoiceTag__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Downgrade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Invoice.PicsInvoiceTag__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_the_Upgrade_Collection_Opty</targetReference>
            </connector>
            <label>Create an Upgrade Collection</label>
        </rules>
        <rules>
            <name>Collection_Other</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Invoice.PicsInvoiceTag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Invoice.PicsInvoiceTag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ClientRenewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Invoice.PicsInvoiceTag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Downgrade</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Other_Collection_Opty</targetReference>
            </connector>
            <label>Collection Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_kind_of_Opportunity_Should_we_Create_0</name>
        <label>What kind of Opportunity Should we Create</label>
        <locationX>695</locationX>
        <locationY>525</locationY>
        <defaultConnector>
            <targetReference>Create_Collection_Renewal_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Create_an_Upgrade_Collection_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Invoice.PicsInvoiceTag__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Activation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Invoice.PicsInvoiceTag__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Invoice.PicsInvoiceTag__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ClientRenewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Invoice.PicsInvoiceTag__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Downgrade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Invoice.PicsInvoiceTag__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_the_Upgrade_Collection_Opty_0</targetReference>
            </connector>
            <label>Create an Upgrade Collection</label>
        </rules>
        <rules>
            <name>Collection_Other_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Invoice.PicsInvoiceTag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Invoice.PicsInvoiceTag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ClientRenewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Invoice.PicsInvoiceTag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Downgrade</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Other_Collection_Opty_0</targetReference>
            </connector>
            <label>Collection Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Who_should_be_the_default_owner</name>
        <label>Who should be the default owner?</label>
        <locationX>1114</locationX>
        <locationY>498</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>India</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Info.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>India</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_kind_of_Opportunity_Should_we_Create_0</targetReference>
            </connector>
            <label>India</label>
        </rules>
        <rules>
            <name>NotIndia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Info.BillingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>India</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_up_SIT_Fields</targetReference>
            </connector>
            <label>Not India</label>
        </rules>
    </decisions>
    <description>Creates the appropriate Collection Opty(SFDC-44)</description>
    <formulas>
        <name>ClientConnectionDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Find_Client_OC.CreatedDate})</expression>
    </formulas>
    <interviewLabel>Create Collection  Opty {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Collection  Opty</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Collection_Renewal</name>
        <label>Create Collection Renewal</label>
        <locationX>1527</locationX>
        <locationY>635</locationY>
        <assignRecordIdToReference>OptyID</assignRecordIdToReference>
        <connector>
            <targetReference>Is_there_a_primary_connect_user</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>InvoiceAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Invoice.Zuora__Balance2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice__c</field>
            <value>
                <elementReference>Invoice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Renewal Collection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oldest_Client__c</field>
            <value>
                <elementReference>Find_Client_OC.Operator__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oldest_Connection__c</field>
            <value>
                <elementReference>ClientConnectionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outstanding_Balance__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>SITSettings.Default_Opportunity_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>OpportunityRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Date__c</field>
            <value>
                <elementReference>Subscription.Zuora__NextRenewalDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Start_Date__c</field>
            <value>
                <elementReference>Subscription.Zuora__TermStartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Collection Renewal</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Collection_Renewal_0</name>
        <label>Create Collection Renewal</label>
        <locationX>493</locationX>
        <locationY>824</locationY>
        <assignRecordIdToReference>OptyID</assignRecordIdToReference>
        <connector>
            <targetReference>Is_there_a_primary_connect_user</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>InvoiceAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Invoice.Zuora__Balance2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice__c</field>
            <value>
                <elementReference>Invoice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Renewal Collection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oldest_Client__c</field>
            <value>
                <elementReference>Find_Client_OC.Operator__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oldest_Connection__c</field>
            <value>
                <elementReference>ClientConnectionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outstanding_Balance__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00570000003ZILL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>OpportunityRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Date__c</field>
            <value>
                <elementReference>Subscription.Zuora__NextRenewalDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Start_Date__c</field>
            <value>
                <elementReference>Subscription.Zuora__TermStartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Collection Renewal</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Contact_Role_0_0_0_0_0</name>
        <label>Create Opportunity Contact Role</label>
        <locationX>1169</locationX>
        <locationY>1031</locationY>
        <assignRecordIdToReference>PrimaryContactID</assignRecordIdToReference>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>PrimaryContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OptyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Business User</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Other_Collection_Opty</name>
        <label>Create Other Collection Opty</label>
        <locationX>1812</locationX>
        <locationY>826</locationY>
        <assignRecordIdToReference>OptyID</assignRecordIdToReference>
        <connector>
            <targetReference>Is_there_a_primary_connect_user</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>InvoiceAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Invoice.Zuora__Balance2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice__c</field>
            <value>
                <elementReference>Invoice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Other Collection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oldest_Client__c</field>
            <value>
                <elementReference>Find_Client_OC.Operator__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oldest_Connection__c</field>
            <value>
                <elementReference>ClientConnectionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outstanding_Balance__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>SITSettings.Default_Opportunity_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>OpportunityRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Date__c</field>
            <value>
                <elementReference>Subscription.Zuora__NextRenewalDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Start_Date__c</field>
            <value>
                <elementReference>Subscription.Zuora__TermStartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Collection Other</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Other_Collection_Opty_0</name>
        <label>Create Other Collection Opty</label>
        <locationX>934</locationX>
        <locationY>651</locationY>
        <assignRecordIdToReference>OptyID</assignRecordIdToReference>
        <connector>
            <targetReference>Is_there_a_primary_connect_user</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>InvoiceAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Invoice.Zuora__Balance2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice__c</field>
            <value>
                <elementReference>Invoice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Other Collection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oldest_Client__c</field>
            <value>
                <elementReference>Find_Client_OC.Operator__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oldest_Connection__c</field>
            <value>
                <elementReference>ClientConnectionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outstanding_Balance__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00570000003ZILL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>OpportunityRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Date__c</field>
            <value>
                <elementReference>Subscription.Zuora__NextRenewalDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Start_Date__c</field>
            <value>
                <elementReference>Subscription.Zuora__TermStartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Collection Other</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_the_Upgrade_Collection_Opty</name>
        <label>Create the Upgrade Collection Opty</label>
        <locationX>1641</locationX>
        <locationY>735</locationY>
        <assignRecordIdToReference>OptyID</assignRecordIdToReference>
        <connector>
            <targetReference>Is_there_a_primary_connect_user</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>InvoiceAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Invoice.Zuora__Balance2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice__c</field>
            <value>
                <elementReference>Invoice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Upgrade Collection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oldest_Client__c</field>
            <value>
                <elementReference>Find_Client_OC.Operator__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oldest_Connection__c</field>
            <value>
                <elementReference>ClientConnectionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outstanding_Balance__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>SITSettings.Default_Opportunity_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>OpportunityRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Start_Date__c</field>
            <value>
                <elementReference>Subscription.Zuora__TermStartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Collection Upgrade</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_the_Upgrade_Collection_Opty_0</name>
        <label>Create the Upgrade Collection Opty</label>
        <locationX>702</locationX>
        <locationY>724</locationY>
        <assignRecordIdToReference>OptyID</assignRecordIdToReference>
        <connector>
            <targetReference>Is_there_a_primary_connect_user</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>InvoiceAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Invoice.Zuora__Balance2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice__c</field>
            <value>
                <elementReference>Invoice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Upgrade Collection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oldest_Client__c</field>
            <value>
                <elementReference>Find_Client_OC.Operator__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oldest_Connection__c</field>
            <value>
                <elementReference>ClientConnectionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outstanding_Balance__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00570000003ZILL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>OpportunityRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Start_Date__c</field>
            <value>
                <elementReference>Subscription.Zuora__TermStartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Collection Upgrade</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Client_OC</name>
        <label>Find Client OC</label>
        <locationX>873</locationX>
        <locationY>72</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_the_Primary_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contractor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Info.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Internal_Client_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Operator_Contractor__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_the_Primary_Contact</name>
        <label>Find the Primary Contact</label>
        <locationX>997</locationX>
        <locationY>78</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Oppportunity_Record_Type_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvoiceAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_PICS_Organizer_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>PrimaryContact.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Info</name>
        <label>Get Account Info</label>
        <locationX>733</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Client_OC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvoiceAccount.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice_Info</name>
        <label>Get Invoice Info</label>
        <locationX>441</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoice_Balance_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Invoice.Id</elementReference>
            </value>
        </filters>
        <object>Zuora__ZInvoice__c</object>
        <outputAssignments>
            <assignToReference>Invoice.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Invoice.PicsInvoiceTag__c</assignToReference>
            <field>PicsInvoiceTag__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InvoiceAccount.Id</assignToReference>
            <field>Zuora__Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Invoice.Zuora__Balance2__c</assignToReference>
            <field>Zuora__Balance2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Invoice.Zuora__DueDate__c</assignToReference>
            <field>Zuora__DueDate__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Look_for_open_retention_opportunities</name>
        <label>Look for open retention opportunities</label>
        <locationX>1118</locationX>
        <locationY>263</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_an_open_Retention_opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvoiceAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RetentionRecordTypeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Retained</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Deactivated</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ready for Deactivation</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ready for Deactivation - Refund</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>RetentionOptyId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Look_up_SIT_Fields</name>
        <label>Look up SIT Fields</label>
        <locationX>1411</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_kind_of_Opportunity_Should_we_Create</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>General SIT</stringValue>
            </value>
        </filters>
        <object>SIT_Settings__c</object>
        <outputAssignments>
            <assignToReference>SITSettings.Default_Opportunity_Owner__c</assignToReference>
            <field>Default_Opportunity_Owner__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Looking_up_the_Subscription</name>
        <label>Looking up the Subscription</label>
        <locationX>610</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Zuora__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvoiceAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Zuora__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Zuora__Subscription__c</object>
        <outputAssignments>
            <assignToReference>Subscription.Zuora__NextRenewalDate__c</assignToReference>
            <field>Zuora__NextRenewalDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Subscription.Zuora__TermStartDate__c</assignToReference>
            <field>Zuora__TermStartDate__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Retention_Record_Type_ID</name>
        <label>Lookup Retention Record Type ID</label>
        <locationX>1114</locationX>
        <locationY>166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Look_for_open_retention_opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retention</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RetentionRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Oppportunity_Record_Type_ID</name>
        <label>Oppportunity Record Type ID</label>
        <locationX>1120</locationX>
        <locationY>76</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Retention_Record_Type_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Collections</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>OpportunityRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Invoice_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Invoice data</description>
        <name>Invoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Zuora__ZInvoice__c</objectType>
    </variables>
    <variables>
        <description>The Account Associated to the Invoice</description>
        <name>InvoiceAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OptyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>PrimaryContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RetentionOptyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RetentionRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SITSettings</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SIT_Settings__c</objectType>
    </variables>
    <variables>
        <description>Info from the Subscritpion</description>
        <name>Subscription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Zuora__Subscription__c</objectType>
    </variables>
</Flow>
