force-app/main/default/flows/Critical_Complaint_Case_Notifications.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Client_Billing_Notifications</name>
        <label>Client Billing Notifications</label>
        <locationX>793</locationX>
        <locationY>1202</locationY>
        <actionName>Case.Client_Billing_Critcal_Case</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Client_Support_Notification</name>
        <label>Client Support Notification</label>
        <locationX>666</locationX>
        <locationY>1208</locationY>
        <actionName>Case.Client_Support_Critcal_Case</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Other_Notification</name>
        <label>Other Notification</label>
        <locationX>1099</locationX>
        <locationY>784</locationY>
        <actionName>Case.Other_Critcal_Case</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Product_Notification</name>
        <label>Product Notification</label>
        <locationX>919</locationX>
        <locationY>1017</locationY>
        <actionName>Case.Product_Critcal_Case</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Resolved_Client_Billing_Notifications</name>
        <label>Resolved Client Billing Notifications</label>
        <locationX>963</locationX>
        <locationY>296</locationY>
        <actionName>Case.Resolved_Client_Billing_Critical_Case</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Resolved_Client_Support_Notification</name>
        <label>Resolved Client Support Notification</label>
        <locationX>968</locationX>
        <locationY>119</locationY>
        <actionName>Case.Resolved_Client_Support_Critical_Case</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Resolved_Other_Critical_Case</name>
        <label>Resolved Other Critical Case</label>
        <locationX>489</locationX>
        <locationY>183</locationY>
        <actionName>Case.Resolved_Other_Critical_Case</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Resolved_Product_Notification</name>
        <label>Resolved Product Notification</label>
        <locationX>867</locationX>
        <locationY>470</locationY>
        <actionName>Case.Resolved_Product_Critical_Case</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Resolved_Supplier_Billing_Notifications</name>
        <label>Resolved Supplier Billing Notifications</label>
        <locationX>169</locationX>
        <locationY>445</locationY>
        <actionName>Case.Resolved_Supplier_Billing_Critical_Case</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Resolved_Supplier_Sales_Notifcation</name>
        <label>Resolved Supplier Sales Notifcation</label>
        <locationX>649</locationX>
        <locationY>155</locationY>
        <actionName>Case.Resolved_Supplier_Sales_Critical_Case</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Resolved_Supplier_Support_Notification</name>
        <label>Resolved Supplier Support Notification</label>
        <locationX>161</locationX>
        <locationY>284</locationY>
        <actionName>Case.Resolved_Supplier_Support_Critcal_Case</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Resolved_Worker_Management_Notification</name>
        <label>Resolved Worker Management Notification</label>
        <locationX>356</locationX>
        <locationY>197</locationY>
        <actionName>Case.Resolved_Worker_Management_Critical_Case</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Supplier_Billing_Notification</name>
        <label>Supplier Billing Notification</label>
        <locationX>401</locationX>
        <locationY>1056</locationY>
        <actionName>Case.Supplier_Billing_Critcal_Case</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Supplier_Sales_Notification</name>
        <label>Supplier Sales Notification</label>
        <locationX>481</locationX>
        <locationY>1269</locationY>
        <actionName>Case.Supplier_Sales_Critcal_Case</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Supplier_Support_Notification</name>
        <label>Supplier Support Notification</label>
        <locationX>173</locationX>
        <locationY>1032</locationY>
        <actionName>Case.Supplier_Support_Critcal_Case</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Worker_Management_Notification</name>
        <label>Worker Management Notification</label>
        <locationX>1328</locationX>
        <locationY>934</locationY>
        <actionName>Case.Worker_Management_Critcal_Case</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Case_Closed</name>
        <label>Case Closed?</label>
        <locationX>480</locationX>
        <locationY>612</locationY>
        <defaultConnector>
            <targetReference>Which_Stakeholder_to_Notify_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Stakeholder_to_Notify</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Stakeholder_to_Notify</name>
        <label>Which Stakeholder to Notify</label>
        <locationX>481</locationX>
        <locationY>804</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Supplier_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Supplier_Support_Notification</targetReference>
            </connector>
            <label>Supplier Support</label>
        </rules>
        <rules>
            <name>Supplier_Billing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier Billing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Supplier_Billing_Notification</targetReference>
            </connector>
            <label>Supplier Billing</label>
        </rules>
        <rules>
            <name>Supplier_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Supplier_Sales_Notification</targetReference>
            </connector>
            <label>Supplier Sales</label>
        </rules>
        <rules>
            <name>Client_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_Support_Notification</targetReference>
            </connector>
            <label>Client Support</label>
        </rules>
        <rules>
            <name>Client_Billing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Billing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_Billing_Notifications</targetReference>
            </connector>
            <label>Client Billing</label>
        </rules>
        <rules>
            <name>Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Notification</targetReference>
            </connector>
            <label>Product</label>
        </rules>
        <rules>
            <name>Worker_Management</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Worker Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Worker_Management_Notification</targetReference>
            </connector>
            <label>Worker Management</label>
        </rules>
        <rules>
            <name>Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Notification</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Stakeholder_to_Notify_0</name>
        <label>Which Stakeholder to Notify</label>
        <locationX>498</locationX>
        <locationY>418</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Supplier_Support_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resolved_Supplier_Support_Notification</targetReference>
            </connector>
            <label>Supplier Support</label>
        </rules>
        <rules>
            <name>Supplier_Billing_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier Billing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resolved_Supplier_Billing_Notifications</targetReference>
            </connector>
            <label>Supplier Billing</label>
        </rules>
        <rules>
            <name>Supplier_Sales_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resolved_Supplier_Sales_Notifcation</targetReference>
            </connector>
            <label>Supplier Sales</label>
        </rules>
        <rules>
            <name>Client_Support_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resolved_Client_Support_Notification</targetReference>
            </connector>
            <label>Client Support</label>
        </rules>
        <rules>
            <name>Client_Billing_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Billing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resolved_Client_Billing_Notifications</targetReference>
            </connector>
            <label>Client Billing</label>
        </rules>
        <rules>
            <name>Product_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resolved_Product_Notification</targetReference>
            </connector>
            <label>Product</label>
        </rules>
        <rules>
            <name>Worker_Management_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Worker Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resolved_Worker_Management_Notification</targetReference>
            </connector>
            <label>Worker Management</label>
        </rules>
        <rules>
            <name>Other_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resolved_Other_Critical_Case</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <description>A flow that will notify leadership of each department when a critical case is created.</description>
    <interviewLabel>Complaint Case Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Critical Complaint Case Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>590</locationY>
        <connector>
            <targetReference>Case_Closed</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>NewCaseSubjectTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!CaseRecord.Sub_Type__c} Critical Customer Escalation &amp; {!CaseRecord.CaseNumber}</text>
    </textTemplates>
    <textTemplates>
        <name>ResolvedCaseBodyTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Critical Case has been resolved with the following resolution:
{!CaseRecord.Resolution_Notes__c}</text>
    </textTemplates>
    <textTemplates>
        <name>ResolvedCaseSubjectTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!CaseRecord.Sub_Type__c} Critical Case Resolved &amp; {!CaseRecord.CaseNumber}</text>
    </textTemplates>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseSubtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>IsClosed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
