force-app/main/default/flows/CSConnectCaseEmailFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Annual_Update_Approved_Engish</name>
        <label>Annual Update Approved Engish</label>
        <locationX>745</locationX>
        <locationY>793</locationY>
        <actionName>Contact.Annual_Update_Approved_English</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Annual_Update_Approved_English_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends Annual Update Approved French Email</description>
        <name>Annual_Update_Approved_French</name>
        <label>Annual Update Approved French</label>
        <locationX>981</locationX>
        <locationY>1591</locationY>
        <actionName>Contact.Annual_Update_Approved_French</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Annual_Update_Approved_French_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends Annual Update Approved German Email</description>
        <name>Annual_Update_Approved_German</name>
        <label>Annual Update Approved German</label>
        <locationX>2555</locationX>
        <locationY>1010</locationY>
        <actionName>Contact.Annual_Update_Approved_German</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Annual_Update_Approved_German_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends Annual Update Approved Portuguese Email</description>
        <name>Annual_Update_Approved_Portuguese</name>
        <label>Annual Update Approved Portuguese</label>
        <locationX>3081</locationX>
        <locationY>580</locationY>
        <actionName>Contact.Annual_Update_Approved_Portuguese</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Annual_Update_Approved_Portugeu</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends Annual Update Approved Quebec Email</description>
        <name>Annual_Update_Approved_Quebec</name>
        <label>Annual Update Approved Quebec</label>
        <locationX>1143</locationX>
        <locationY>1956</locationY>
        <actionName>Contact.Annual_Update_Approved_Quebec</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Annual_Update_Approved_Quebec_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends Annual Update Approved Spanish Email</description>
        <name>Annual_Update_Approved_Spanish</name>
        <label>Annual Update Approved Spanish</label>
        <locationX>1037</locationX>
        <locationY>1156</locationY>
        <actionName>Contact.Annual_Update_Approved_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Annual_Update_Approved_Spanish_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Annual_Update_Rejected_Email_Alert_English</name>
        <label>Annual Update Rejected Email Alert-English</label>
        <locationX>1061</locationX>
        <locationY>767</locationY>
        <actionName>Contact.Annual_Update_Rejected_Email_Alert_English</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Annual_Update_Rejected_Email_Alert_English_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends Annual Update Rejected French Email</description>
        <name>Annual_Update_Rejected_French</name>
        <label>Annual Update Rejected French</label>
        <locationX>1102</locationX>
        <locationY>1604</locationY>
        <actionName>Contact.Annual_Update_Rejected_French</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Annual_Update_Rejected_French_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends Annual Update Rejected German Email</description>
        <name>Annual_Update_Rejected_German</name>
        <label>Annual Update Rejected German</label>
        <locationX>2416</locationX>
        <locationY>1047</locationY>
        <actionName>Contact.Annual_Update_Rejected_German</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Annual_Update_Rejected_German_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends Annual Update Rejected Portuguese Email</description>
        <name>Annual_Update_Rejected_Portuguese</name>
        <label>Annual Update Rejected Portuguese</label>
        <locationX>2942</locationX>
        <locationY>756</locationY>
        <actionName>Contact.Annual_Update_Rejected_Portuguese</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Annual_Update_Rejected_Portuguese_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends Annual Update Rejected Quebec Email</description>
        <name>Annual_Update_Rejected_Quebec</name>
        <label>Annual Update Rejected Quebec</label>
        <locationX>1256</locationX>
        <locationY>1936</locationY>
        <actionName>Contact.Annual_Update_Rejected_Quebec</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Annual_Update_Rejected_Quebec_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends Annual Update Rejected Spanish Email</description>
        <name>Annual_Update_Rejected_Spanish</name>
        <label>Annual Update Rejected Spanish</label>
        <locationX>1246</locationX>
        <locationY>1140</locationY>
        <actionName>Contact.Annual_Update_Rejected_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Annual_Update_Rejected_Spanish_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Annual_Update_Submitted_Alert_English</name>
        <label>Annual Update Submitted Alert-English</label>
        <locationX>890</locationX>
        <locationY>779</locationY>
        <actionName>Contact.Annual_Update_Sumited_Alert_English</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Annual_Update_Submitted_Alert_English_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends Annual Update Submitted French Email</description>
        <name>Annual_Update_Submitted_French</name>
        <label>Annual Update Submitted French</label>
        <locationX>1212</locationX>
        <locationY>1581</locationY>
        <actionName>Contact.Annual_Update_Submitted_French</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Annual_Update_Submitted_French_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends Annual Update Submitted German Email</description>
        <name>Annual_Update_Submitted_German</name>
        <label>Annual Update Submitted German</label>
        <locationX>2300</locationX>
        <locationY>1057</locationY>
        <actionName>Contact.Annual_Update_Submitted_German</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Annual_Update_Submitted_German_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends Annual Update Submitted Portuguese Email</description>
        <name>Annual_Update_Submitted_Portuguese</name>
        <label>Annual Update Submitted Portuguese</label>
        <locationX>2721</locationX>
        <locationY>805</locationY>
        <actionName>Contact.Annual_Update_Submitted_Portuguese</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Annual_Update_Submitted_Portuguese_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends Annual Update Submitted Quebec Email</description>
        <name>Annual_Update_Submitted_Quebec</name>
        <label>Annual Update Submitted Quebec</label>
        <locationX>1295</locationX>
        <locationY>1945</locationY>
        <actionName>Contact.Annual_Update_Submitted_Quebec</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Annual_Update_Submitted_Quebec_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends Annual Update Submitted Spanish Email</description>
        <name>Annual_Update_Submitted_Spanish</name>
        <label>Annual Update Submitted Spanish</label>
        <locationX>1138</locationX>
        <locationY>1166</locationY>
        <actionName>Contact.Annual_Update_Submitted_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Annual_Update_Submitted_Spanish_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends Insurance Rejection -English</description>
        <name>Insurance_Rejection_English</name>
        <label>Insurance Rejection -English</label>
        <locationX>610</locationX>
        <locationY>750</locationY>
        <actionName>Contact.Insurance_Rejection_English</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Insurance_Rejection_English_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends Insurance Rejection French Email</description>
        <name>Insurance_Rejection_French</name>
        <label>Insurance Rejection French</label>
        <locationX>837</locationX>
        <locationY>1590</locationY>
        <actionName>Contact.Insurance_Rejection_French</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Insurance_Rejection_French_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends Insurance Rejection German Email</description>
        <name>Insurance_Rejection_German</name>
        <label>Insurance Rejection German</label>
        <locationX>2196</locationX>
        <locationY>1055</locationY>
        <actionName>Contact.Insurance_Rejection_German</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Insurance_Rejection_German_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends Insurance Rejection Portuguese Email</description>
        <name>Insurance_Rejection_Portuguese</name>
        <label>Insurance Rejection Portuguese</label>
        <locationX>2568</locationX>
        <locationY>760</locationY>
        <actionName>Contact.Insurance_Rejection_Portuguese</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Insurance_Rejection_Portuguese_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends Insurance Rejection Quebec Email</description>
        <name>Insurance_Rejection_Quebec</name>
        <label>Insurance Rejection Quebec</label>
        <locationX>1008</locationX>
        <locationY>1917</locationY>
        <actionName>Contact.Insurance_Rejection_Quebec</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Insurance_Rejection_Quebec_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends Insurance Rejection Spanish Email</description>
        <name>Insurance_Rejection_Spanish</name>
        <label>Insurance Rejection Spanish</label>
        <locationX>931</locationX>
        <locationY>1150</locationY>
        <actionName>Contact.Insurance_Rejection_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Insurance_Rejection_Spanish_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>X3x_Rejection_AU_IG</name>
        <label>3x Rejection - AU/IG</label>
        <locationX>2293</locationX>
        <locationY>418</locationY>
        <actionName>Contact.X3x_Rejection_AU_IG_Contact</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rejection_Outreach_Task</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Send_To_Primary_Contact</name>
        <label>Send To Primary Contact</label>
        <locationX>1362</locationX>
        <locationY>285</locationY>
        <assignmentItems>
            <assignToReference>SendToContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Info.Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SentToEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Info.Primary_Contact_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_you_Find_a_Valid_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Use_Case_Contact</name>
        <label>Use Case Contact</label>
        <locationX>1370</locationX>
        <locationY>406</locationY>
        <assignmentItems>
            <assignToReference>SendToContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Trigger_Case_Data.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SentToEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Trigger_Case_Data.ContactEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_you_Find_a_Valid_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Type_Verification_English</name>
        <label>Case Type Verification - English</label>
        <locationX>774</locationX>
        <locationY>602</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InsureGaurdWaitingOnAvetta</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>insureGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Avetta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Safety And Health Management System</stringValue>
                </rightValue>
            </conditions>
            <label>InsureGaurdWaitingOnAvetta</label>
        </rules>
        <rules>
            <name>InsureGaurdWaitingOnSupplier</name>
            <conditionLogic>2 AND  (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>insureGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Supplier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Safety And Health Management System</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insurance_Rejection_English</targetReference>
            </connector>
            <label>InsureGaurdWaitingOnSupplier</label>
        </rules>
        <rules>
            <name>InsureGaurdClosed</name>
            <conditionLogic>2 AND (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>insureGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Safety And Health Management System</stringValue>
                </rightValue>
            </conditions>
            <label>InsureGaurdClosed</label>
        </rules>
        <rules>
            <name>AnnualUpdateWaitingOnSupplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>docuGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Supplier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Annual Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annual_Update_Rejected_Email_Alert_English</targetReference>
            </connector>
            <label>AnnualUpdateWaitingOnSupplier</label>
        </rules>
        <rules>
            <name>AnnualUpdateWaitingOnAvetta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>docuGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Avetta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Annual Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annual_Update_Submitted_Alert_English</targetReference>
            </connector>
            <label>AnnualUpdateWaitingOnAvetta</label>
        </rules>
        <rules>
            <name>AnnualUpdatesClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>docuGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Annual Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annual_Update_Approved_Engish</targetReference>
            </connector>
            <label>AnnualUpdatesClosed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Type_Verification_French</name>
        <label>Case Type Verification - French</label>
        <locationX>1032</locationX>
        <locationY>1456</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InsureGaurdWaitingOnAvetta_0_0</name>
            <conditionLogic>2 AND (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>insureGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Avetta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Safety And Health Management System</stringValue>
                </rightValue>
            </conditions>
            <label>InsureGaurdWaitingOnAvetta</label>
        </rules>
        <rules>
            <name>InsureGaurdWaitingOnSupplier_0_0</name>
            <conditionLogic>2 AND (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>insureGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Supplier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Safety And Health Management System</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insurance_Rejection_French</targetReference>
            </connector>
            <label>InsureGaurdWaitingOnSupplier</label>
        </rules>
        <rules>
            <name>InsureGaurdClosed_0_0</name>
            <conditionLogic>2 AND (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>insureGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Safety And Health Management System</stringValue>
                </rightValue>
            </conditions>
            <label>InsureGaurdClosed</label>
        </rules>
        <rules>
            <name>AnnualUpdateWaitingOnSupplier_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>docuGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Supplier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Annual Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annual_Update_Rejected_French</targetReference>
            </connector>
            <label>AnnualUpdateWaitingOnSupplier</label>
        </rules>
        <rules>
            <name>AnnualUpdateWaitingOnAvetta_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>docuGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Avetta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Annual Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annual_Update_Submitted_French</targetReference>
            </connector>
            <label>AnnualUpdateWaitingOnAvetta</label>
        </rules>
        <rules>
            <name>AnnualUpdatesClosed_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>docuGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Annual Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annual_Update_Approved_French</targetReference>
            </connector>
            <label>AnnualUpdatesClosed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Type_Verification_German</name>
        <label>Case Type Verification - German</label>
        <locationX>2316</locationX>
        <locationY>870</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InsureGaurdWaitingOnAvetta_0_0_0_0</name>
            <conditionLogic>2 AND (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>insureGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Avetta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Safety And Health Management System</stringValue>
                </rightValue>
            </conditions>
            <label>InsureGaurdWaitingOnAvetta</label>
        </rules>
        <rules>
            <name>InsureGaurdWaitingOnSupplier_0_0_0_0</name>
            <conditionLogic>2 AND (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>insureGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Supplier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Safety And Health Management System</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insurance_Rejection_German</targetReference>
            </connector>
            <label>InsureGaurdWaitingOnSupplier</label>
        </rules>
        <rules>
            <name>InsureGaurdClosed_0_0_0_0</name>
            <conditionLogic>2 AND (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>insureGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Safety And Health Management System</stringValue>
                </rightValue>
            </conditions>
            <label>InsureGaurdClosed</label>
        </rules>
        <rules>
            <name>AnnualUpdateWaitingOnSupplier_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>docuGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Supplier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Annual Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annual_Update_Rejected_German</targetReference>
            </connector>
            <label>AnnualUpdateWaitingOnSupplier</label>
        </rules>
        <rules>
            <name>AnnualUpdateWaitingOnAvetta_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>docuGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Avetta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Annual Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annual_Update_Submitted_German</targetReference>
            </connector>
            <label>AnnualUpdateWaitingOnAvetta</label>
        </rules>
        <rules>
            <name>AnnualUpdatesClosed_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>docuGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Annual Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annual_Update_Approved_German</targetReference>
            </connector>
            <label>AnnualUpdatesClosed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Type_Verification_Portuguese</name>
        <label>Case Type Verification - Portuguese</label>
        <locationX>2693</locationX>
        <locationY>594</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InsureGaurdWaitingOnAvetta_0_0_0</name>
            <conditionLogic>2 AND (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>insureGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Avetta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Safety And Health Management System</stringValue>
                </rightValue>
            </conditions>
            <label>InsureGaurdWaitingOnAvetta</label>
        </rules>
        <rules>
            <name>InsureGaurdWaitingOnSupplier_0_0_0</name>
            <conditionLogic>2 AND (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>insureGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Supplier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Safety And Health Management System</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insurance_Rejection_Portuguese</targetReference>
            </connector>
            <label>InsureGaurdWaitingOnSupplier</label>
        </rules>
        <rules>
            <name>InsureGaurdClosed_0_0_0</name>
            <conditionLogic>2 AND (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>insureGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Safety And Health Management System</stringValue>
                </rightValue>
            </conditions>
            <label>InsureGaurdClosed</label>
        </rules>
        <rules>
            <name>AnnualUpdateWaitingOnSupplier_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>docuGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Supplier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Annual Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annual_Update_Rejected_Portuguese</targetReference>
            </connector>
            <label>AnnualUpdateWaitingOnSupplier</label>
        </rules>
        <rules>
            <name>AnnualUpdateWaitingOnAvetta_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>docuGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Avetta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Annual Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annual_Update_Submitted_Portuguese</targetReference>
            </connector>
            <label>AnnualUpdateWaitingOnAvetta</label>
        </rules>
        <rules>
            <name>AnnualUpdatesClosed_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>docuGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Annual Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annual_Update_Approved_Portuguese</targetReference>
            </connector>
            <label>AnnualUpdatesClosed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Type_Verification_Quebec_0</name>
        <label>Case Type Verification - Quebec</label>
        <locationX>1176</locationX>
        <locationY>1837</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InsureGaurdWaitingOnAvetta_0_0_0_0_0</name>
            <conditionLogic>2 AND (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>insureGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Avetta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Safety And Health Management System</stringValue>
                </rightValue>
            </conditions>
            <label>InsureGaurdWaitingOnAvetta</label>
        </rules>
        <rules>
            <name>InsureGaurdWaitingOnSupplier_0_0_0_0_0</name>
            <conditionLogic>2 AND (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>insureGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Supplier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Safety And Health Management System</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insurance_Rejection_Quebec</targetReference>
            </connector>
            <label>InsureGaurdWaitingOnSupplier</label>
        </rules>
        <rules>
            <name>InsureGaurdClosed_0_0_0_0_0</name>
            <conditionLogic>2 AND (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>insureGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Safety And Health Management System</stringValue>
                </rightValue>
            </conditions>
            <label>InsureGaurdClosed</label>
        </rules>
        <rules>
            <name>AnnualUpdateWaitingOnSupplier_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>docuGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Supplier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Annual Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annual_Update_Rejected_Quebec</targetReference>
            </connector>
            <label>AnnualUpdateWaitingOnSupplier</label>
        </rules>
        <rules>
            <name>AnnualUpdateWaitingOnAvetta_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>docuGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Avetta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Annual Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annual_Update_Submitted_Quebec</targetReference>
            </connector>
            <label>AnnualUpdateWaitingOnAvetta</label>
        </rules>
        <rules>
            <name>AnnualUpdatesClosed_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>docuGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Annual Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annual_Update_Approved_Quebec</targetReference>
            </connector>
            <label>AnnualUpdatesClosed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Type_Verification_Spanish</name>
        <label>Case Type Verification - Spanish</label>
        <locationX>924</locationX>
        <locationY>961</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InsureGaurdWaitingOnSupplier_0</name>
            <conditionLogic>2 AND (3 OR 1)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>insureGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Supplier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Safety And Health Management System</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insurance_Rejection_Spanish</targetReference>
            </connector>
            <label>InsureGaurdWaitingOnSupplier</label>
        </rules>
        <rules>
            <name>InsureGaurdWaitingOnAvetta_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>insureGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Avetta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Safety And Health Management System</stringValue>
                </rightValue>
            </conditions>
            <label>InsureGaurdWaitingOnAvetta</label>
        </rules>
        <rules>
            <name>InsureGaurdClosed_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>insureGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Safety And Health Management System</stringValue>
                </rightValue>
            </conditions>
            <label>InsureGaurdClosed</label>
        </rules>
        <rules>
            <name>AnnualUpdateWaitingOnSupplier_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>docuGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Supplier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Annual Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annual_Update_Rejected_Spanish</targetReference>
            </connector>
            <label>AnnualUpdateWaitingOnSupplier</label>
        </rules>
        <rules>
            <name>AnnualUpdateWaitingOnAvetta_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>docuGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Avetta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Annual Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annual_Update_Submitted_Spanish</targetReference>
            </connector>
            <label>AnnualUpdateWaitingOnAvetta</label>
        </rules>
        <rules>
            <name>AnnualUpdatesClosed_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>docuGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Annual Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annual_Update_Approved_Spanish</targetReference>
            </connector>
            <label>AnnualUpdatesClosed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines email language from account country language field.</description>
        <name>DetermineEmailLanguage</name>
        <label>DetermineEmailLanguage</label>
        <locationX>2316</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Case_Type_Verification_English</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>French_CA</name>
            <conditionLogic>1 OR 2 OR 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Info.BillingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quebec</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Info.BillingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Info.BillingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qubec</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Type_Verification_Quebec_0</targetReference>
            </connector>
            <label>French CA</label>
        </rules>
        <rules>
            <name>English</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Info.CountryLanguage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Type_Verification_English</targetReference>
            </connector>
            <label>English</label>
        </rules>
        <rules>
            <name>Spanish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Info.CountryLanguage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Type_Verification_Spanish</targetReference>
            </connector>
            <label>Spanish</label>
        </rules>
        <rules>
            <name>Portuguese</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Info.CountryLanguage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portuguese</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Type_Verification_Portuguese</targetReference>
            </connector>
            <label>Portuguese</label>
        </rules>
        <rules>
            <name>French</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Info.CountryLanguage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Type_Verification_French</targetReference>
            </connector>
            <label>French</label>
        </rules>
        <rules>
            <name>Danish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Info.CountryLanguage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Danish</stringValue>
                </rightValue>
            </conditions>
            <label>Danish</label>
        </rules>
        <rules>
            <name>Dutch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Info.CountryLanguage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Dutch</elementReference>
                </rightValue>
            </conditions>
            <label>Dutch</label>
        </rules>
        <rules>
            <name>German</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Info.CountryLanguage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>German</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Type_Verification_German</targetReference>
            </connector>
            <label>German</label>
        </rules>
        <rules>
            <name>Italian</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Info.CountryLanguage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Italian</stringValue>
                </rightValue>
            </conditions>
            <label>Italian</label>
        </rules>
        <rules>
            <name>Polish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Info.CountryLanguage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Polish</stringValue>
                </rightValue>
            </conditions>
            <label>Polish</label>
        </rules>
        <rules>
            <name>Romanian</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Info.CountryLanguage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Romanian</stringValue>
                </rightValue>
            </conditions>
            <label>Romanian</label>
        </rules>
        <rules>
            <name>Finnish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Info.CountryLanguage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finnish</stringValue>
                </rightValue>
            </conditions>
            <label>Finnish</label>
        </rules>
        <rules>
            <name>Greek</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Info.CountryLanguage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Greek</stringValue>
                </rightValue>
            </conditions>
            <label>Greek</label>
        </rules>
        <rules>
            <name>Hebrew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Info.CountryLanguage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hebrew</stringValue>
                </rightValue>
            </conditions>
            <label>Hebrew</label>
        </rules>
        <rules>
            <name>Hindi_English</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Info.CountryLanguage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hindi - English</stringValue>
                </rightValue>
            </conditions>
            <label>Hindi - English</label>
        </rules>
        <rules>
            <name>Indonesian</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Info.CountryLanguage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Indonesian</stringValue>
                </rightValue>
            </conditions>
            <label>Indonesian</label>
        </rules>
        <rules>
            <name>Japanese</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Info.CountryLanguage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Japanese</stringValue>
                </rightValue>
            </conditions>
            <label>Japanese</label>
        </rules>
        <rules>
            <name>Korean</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Info.CountryLanguage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Korean</stringValue>
                </rightValue>
            </conditions>
            <label>Korean</label>
        </rules>
        <rules>
            <name>Malay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Info.CountryLanguage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Malay</stringValue>
                </rightValue>
            </conditions>
            <label>Malay</label>
        </rules>
        <rules>
            <name>Norwegian</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Info.CountryLanguage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Norwegian</stringValue>
                </rightValue>
            </conditions>
            <label>Norwegian</label>
        </rules>
        <rules>
            <name>Swedish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Info.CountryLanguage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Swedish</stringValue>
                </rightValue>
            </conditions>
            <label>Swedish</label>
        </rules>
        <rules>
            <name>Turkish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Info.CountryLanguage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Turkish</stringValue>
                </rightValue>
            </conditions>
            <label>Turkish</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_you_Find_a_Valid_Contact</name>
        <label>Did you Find a Valid Contact?</label>
        <locationX>1526</locationX>
        <locationY>409</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendToContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SentToEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Start_Dynamic_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NO_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendToContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>NO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_their_a_Case_Contact</name>
        <label>Is their a Case Contact</label>
        <locationX>728</locationX>
        <locationY>404</locationY>
        <defaultConnector>
            <targetReference>Who_sTheContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Their_Is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.ContactEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Contact.Organizer_isActive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Case_Data.Contact.Organizer_User_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactInfo</targetReference>
            </connector>
            <label>Yes Their Is</label>
        </rules>
        <rules>
            <name>IS_there_a_Primary_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Info.Primary_Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Info.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Info.Primary_Contact__r.Organizer_isActive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Info.Primary_Contact__r.Organizer_User_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Info.Primary_Contact__r.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Account_Info.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Info.Primary_Contact__r.Primary_PICS_Organizer_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Primary_Contact</targetReference>
            </connector>
            <label>IS there a Primary Contact?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Who_sTheContact</name>
        <label>Who&apos;sTheContact?</label>
        <locationX>1080</locationX>
        <locationY>413</locationY>
        <defaultConnector>
            <targetReference>Pick_A_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_there_a_case_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactInfo.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactInfo.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactInfo.Organizer_User_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactInfo.Organizer_isActive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactInfo.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactInfo.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Use_Case_Contact</targetReference>
            </connector>
            <label>Is there a case Contact?</label>
        </rules>
        <rules>
            <name>Does_the_Account_have_a_Primary_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Primary_Contact.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_Primary_Contact.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_Primary_Contact.Organizer_User_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_Primary_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_Primary_Contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_Primary_Contact.Organizer_isActive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_To_Primary_Contact</targetReference>
            </connector>
            <label>Does the Account have a Primary Contact?</label>
        </rules>
    </decisions>
    <description>Flow that Sends emails based on Status of the case.</description>
    <interviewLabel>CSConnectCaseEmailFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSConnectCaseEmailFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Annual_Update_Approved_English_Email</name>
        <label>Annual Update Approved English Email</label>
        <locationX>747</locationX>
        <locationY>945</locationY>
        <connector>
            <targetReference>Close_Related_CSM_Tasks_English</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Annual Update Approved English Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Annual_Update_Approved_French_Email</name>
        <label>Annual Update Approved French Email</label>
        <locationX>990</locationX>
        <locationY>1710</locationY>
        <connector>
            <targetReference>Close_Related_CSM_Tasks_French</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Annual Update Approved French Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Annual_Update_Approved_German_Email</name>
        <label>Annual Update Approved German Email</label>
        <locationX>2573</locationX>
        <locationY>1199</locationY>
        <connector>
            <targetReference>Close_Related_CSM_Tasks_German</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Annual Update Approved German Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Annual_Update_Approved_Portugeu</name>
        <label>Annual Update Approved Portuguese Email</label>
        <locationX>3079</locationX>
        <locationY>711</locationY>
        <connector>
            <targetReference>Close_Related_CSM_Tasks_Portuguese</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Annual Update Approved Portuguese Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Annual_Update_Approved_Quebec_Email</name>
        <label>Annual Update Approved Quebec Email</label>
        <locationX>1143</locationX>
        <locationY>2075</locationY>
        <connector>
            <targetReference>Close_Related_CSM_Tasks_Quebec</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Annual Update Approved Quebec Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Annual_Update_Approved_Spanish_Email</name>
        <label>Annual Update Approved Spanish Email</label>
        <locationX>1014</locationX>
        <locationY>1303</locationY>
        <connector>
            <targetReference>Close_Related_CSM_Tasks_Spanish</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Annual Update Approved Spanish Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Annual_Update_Rejected_Email_Alert_English_Email</name>
        <label>Annual Update Rejected Email Alert-English Email</label>
        <locationX>1039</locationX>
        <locationY>862</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Annual Update Rejected Email Alert-English Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Annual_Update_Rejected_French_Email</name>
        <label>Annual Update Rejected French Email</label>
        <locationX>1133</locationX>
        <locationY>1698</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00570000002XqWKAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Annual Update Rejected French Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Annual_Update_Rejected_German_Email</name>
        <label>Annual Update Rejected German Email</label>
        <locationX>2420</locationX>
        <locationY>1218</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Annual Update Rejected German Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Annual_Update_Rejected_Portuguese_Email</name>
        <label>Annual Update Rejected Portuguese Email</label>
        <locationX>2937</locationX>
        <locationY>912</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Annual Update Rejected Portuguese Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Annual_Update_Rejected_Quebec_Email</name>
        <label>Annual Update Rejected Quebec Email</label>
        <locationX>1271</locationX>
        <locationY>2073</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00570000002XqWKAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Annual Update Rejected Quebec Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Annual_Update_Rejected_Spanish_Email</name>
        <label>Annual Update Rejected Spanish Email</label>
        <locationX>1263</locationX>
        <locationY>1273</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Annual Update Rejected Spanish Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Annual_Update_Submitted_Alert_English_Email</name>
        <label>Annual Update Submitted Alert-English Email</label>
        <locationX>889</locationX>
        <locationY>891</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Annual Update Submitted Alert-English Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Annual_Update_Submitted_French_Email</name>
        <label>Annual Update Submitted French Email</label>
        <locationX>1282</locationX>
        <locationY>1708</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Annual Update Submitted French Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Annual_Update_Submitted_German_Email</name>
        <label>Annual Update Submitted German Email</label>
        <locationX>2305</locationX>
        <locationY>1211</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Annual Update Submitted German Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Annual_Update_Submitted_Portuguese_Email</name>
        <label>Annual Update Submitted Portuguese Email</label>
        <locationX>2739</locationX>
        <locationY>978</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Annual Update Submitted Portuguese Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Annual_Update_Submitted_Quebec_Email</name>
        <label>Annual Update Submitted Quebec Email</label>
        <locationX>1373</locationX>
        <locationY>2084</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Annual Update Submitted Quebec Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Annual_Update_Submitted_Spanish_Email</name>
        <label>Annual Update Submitted Spanish Email</label>
        <locationX>1145</locationX>
        <locationY>1285</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00570000002XqWKAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Annual Update Submitted Spanish Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insurance_Rejection_English_Email</name>
        <label>Insurance Rejection -English Email</label>
        <locationX>590</locationX>
        <locationY>926</locationY>
        <connector>
            <targetReference>Update_Sent_Waiting_on_Supplier_Notice_c</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Insurance Rejection -English Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insurance_Rejection_French_Email</name>
        <label>Insurance Rejection French Email</label>
        <locationX>836</locationX>
        <locationY>1723</locationY>
        <connector>
            <targetReference>Update_Sent_Waiting_on_Supplier_Notice_c</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Insurance Rejection French Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insurance_Rejection_German_Email</name>
        <label>Insurance Rejection German Email</label>
        <locationX>2189</locationX>
        <locationY>1217</locationY>
        <connector>
            <targetReference>Update_Sent_Waiting_on_Supplier_Notice_c</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Insurance Rejection German Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insurance_Rejection_Portuguese_Email</name>
        <label>Insurance Rejection Portuguese Email</label>
        <locationX>2557</locationX>
        <locationY>876</locationY>
        <connector>
            <targetReference>Update_Sent_Waiting_on_Supplier_Notice_c</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Insurance Rejection Portuguese Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insurance_Rejection_Quebec_Email</name>
        <label>Insurance Rejection Quebec Email</label>
        <locationX>1000</locationX>
        <locationY>2083</locationY>
        <connector>
            <targetReference>Update_Sent_Waiting_on_Supplier_Notice_c</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Insurance Rejection Quebec Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insurance_Rejection_Spanish_Email</name>
        <label>Insurance Rejection Spanish Email</label>
        <locationX>927</locationX>
        <locationY>1284</locationY>
        <connector>
            <targetReference>Update_Sent_Waiting_on_Supplier_Notice_c</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Insurance Rejection Spanish Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Rejection_Outreach_Task</name>
        <label>Rejection Outreach Task</label>
        <locationX>2290</locationX>
        <locationY>302</locationY>
        <connector>
            <targetReference>X3x_Rejection_Pause</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00570000002XqWKAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120g000000UU8OAAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Rejection Outreach Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>X3x_Rejection_Email</name>
        <label>3x Rejection Email</label>
        <locationX>2291</locationX>
        <locationY>50</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>3x Rejection - AU/IG (US Only)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>ContactInfo</name>
        <label>ContactInfo</label>
        <locationX>918</locationX>
        <locationY>307</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Who_sTheContact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Who_sTheContact</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Trigger_Case_Data.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Organizer_User_ID__c</queriedFields>
        <queriedFields>Organizer_isActive__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Primary_Contact</name>
        <label>Find Primary Contact</label>
        <locationX>907</locationX>
        <locationY>456</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Who_sTheContact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Who_sTheContact</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Info.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_PICS_Organizer_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Organizer_User_ID__c</queriedFields>
        <queriedFields>Organizer_isActive__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Info</name>
        <label>Get Account Info</label>
        <locationX>605</locationX>
        <locationY>402</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_their_a_Case_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Trigger_Case_Data.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Trigger_Case_Data</name>
        <label>Get Trigger Case Data</label>
        <locationX>492</locationX>
        <locationY>402</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Pick_A_Contact</name>
        <label>Pick A Contact</label>
        <locationX>1374</locationX>
        <locationY>532</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_you_Find_a_Valid_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Did_you_Find_a_Valid_Contact</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Info.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Organizer_Last_Login__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Organizer_isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>SentToEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SendToContact</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Organizer_Last_Login__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Pull_Updated_Contact</name>
        <label>Pull Updated Contact</label>
        <locationX>1978</locationX>
        <locationY>405</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DetermineEmailLanguage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Related_CSM_Tasks_English</name>
        <label>Close Related CSM Tasks English</label>
        <locationX>748</locationX>
        <locationY>1099</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0120g000000UU8OAAW</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed - Task Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Related_CSM_Tasks_French</name>
        <label>Close Related CSM Tasks French</label>
        <locationX>958</locationX>
        <locationY>1826</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0120g000000UU8OAAW</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed - Task Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Related_CSM_Tasks_German</name>
        <label>Close Related CSM Tasks German</label>
        <locationX>2565</locationX>
        <locationY>1341</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0120g000000UU8OAAW</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed - Task Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Related_CSM_Tasks_Portuguese</name>
        <label>Close Related CSM Tasks Portuguese</label>
        <locationX>3144</locationX>
        <locationY>892</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0120g000000UU8OAAW</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed - Task Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Related_CSM_Tasks_Quebec</name>
        <label>Close Related CSM Tasks Quebec</label>
        <locationX>1142</locationX>
        <locationY>2207</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0120g000000UU8OAAW</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed - Task Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Related_CSM_Tasks_Spanish</name>
        <label>Close Related CSM Tasks Spanish</label>
        <locationX>1078</locationX>
        <locationY>1356</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0120g000000UU8OAAW</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Start_Dynamic_Date</name>
        <label>Update Contact Start Dynamic Date</label>
        <locationX>1705</locationX>
        <locationY>406</locationY>
        <connector>
            <targetReference>Pull_Updated_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SendToContact</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Valid_Start_Dynamic_Date__c</field>
            <value>
                <elementReference>Get_Trigger_Case_Data.Valid_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Sent_Waiting_on_Supplier_Notice__c to Today</description>
        <name>Update_Sent_Waiting_on_Supplier_Notice_c</name>
        <label>Update Sent_Waiting_on_Supplier_Notice__c</label>
        <locationX>699</locationX>
        <locationY>2333</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Info.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sent_Waiting_on_Supplier_Notice__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>248</locationX>
        <locationY>142</locationY>
        <connector>
            <targetReference>Get_Trigger_Case_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CaseValidStartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_Trigger_Case_Data.Valid_Start_Date__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>PrimaryContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>SendToContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>SentToEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>TriggeringCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <waits>
        <name>X3x_Rejection_Pause</name>
        <label>3x Rejection Pause</label>
        <locationX>2288</locationX>
        <locationY>196</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Wait_1_HR_3X_Rejection_Task</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>X3x_Rejection_Email</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>Get_Trigger_Case_Data.Last_Status_Change__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Wait 1 HR 3X Rejection Task</label>
        </waitEvents>
    </waits>
</Flow>
