force-app/main/default/flows/CSM_Scheduled_Task_Reminder.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CSM_Reminder</name>
        <label>CSM Reminder</label>
        <locationX>735</locationX>
        <locationY>514</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Store_Individual_Task</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Post</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Store_Individual_Task.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <interviewLabel>CSM Scheduled Task Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSM Scheduled Task Reminder</label>
    <loops>
        <name>Store_Individual_Task</name>
        <label>Store Individual Task</label>
        <locationX>737</locationX>
        <locationY>175</locationY>
        <collectionReference>Find_Open_Complaint_Task</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CSM_Reminder</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Open_Complaint_Task</name>
        <label>Find Open Complaint Task</label>
        <locationX>485</locationX>
        <locationY>140</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Individual_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <dateTimeValue>2020-10-15T21:20:00.000Z</dateTimeValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Deferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Feedback Captured</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>103</locationX>
        <locationY>20</locationY>
        <connector>
            <targetReference>Find_Open_Complaint_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01270000000cebGAAQ</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complaint</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2020-10-20</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Post</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>@[{!Store_Individual_Task.OwnerId}] Customer Escalation - Complaint: {!Store_Individual_Task.Subject} 
A task has been assigned to you and requires immediate action.  Click here to view.</text>
    </textTemplates>
    <variables>
        <name>CaseTest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
