force-app/main/default/flows/Deactivated_Accounts_Opportunities.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Closed_Retention_Opty</name>
        <label>Closed Retention Opty</label>
        <locationX>1088</locationX>
        <locationY>172</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Associated Retention Oppportunties Deactivated</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>AccountID</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>No_Qualifying_Opty</name>
        <label>No Qualifying Opty</label>
        <locationX>841</locationX>
        <locationY>33</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Account was Deactivated</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>AccountID</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Deactivated</name>
        <label>Deactivate</label>
        <locationX>572</locationX>
        <locationY>295</locationY>
        <assignmentItems>
            <assignToReference>RetOpty.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deactivated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_we_Already_Have_a_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_the_Result</name>
        <label>Set the Result</label>
        <locationX>107</locationX>
        <locationY>182</locationY>
        <assignmentItems>
            <assignToReference>RetOpty.Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Response</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatingRetOpt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdatingRetOpt</name>
        <label>UpdatingRetOpt</label>
        <locationX>275</locationX>
        <locationY>183</locationY>
        <assignmentItems>
            <assignToReference>RetOptytoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RetOpty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Stage</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_we_Find_an_Opty</name>
        <label>Did we Find an Opty</label>
        <locationX>572</locationX>
        <locationY>36</locationY>
        <defaultConnector>
            <targetReference>Set_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>We_didn_t_find_one</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllRetentionOpty</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Qualifying_Opty</targetReference>
            </connector>
            <label>We didn&apos;t find one</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_Already_Have_a_Result</name>
        <label>Do we Already Have a Result</label>
        <locationX>272</locationX>
        <locationY>299</locationY>
        <defaultConnector>
            <targetReference>UpdatingRetOpt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Result</defaultConnectorLabel>
        <rules>
            <name>No_Result</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RetOpty.Result__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_the_Result</targetReference>
            </connector>
            <label>No Result</label>
        </rules>
    </decisions>
    <description>SFDC-96 - Changes Stage for Retention Optys</description>
    <interviewLabel>Deactivated Accounts-Opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deactivated Accounts-Opportunities</label>
    <loops>
        <name>Set_Stage</name>
        <label>Set Stage</label>
        <locationX>576</locationX>
        <locationY>179</locationY>
        <assignNextValueToReference>RetOpty</assignNextValueToReference>
        <collectionReference>AllRetentionOpty</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Deactivated</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_the_Stage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Retention_Opty</name>
        <label>Find Retention Opty</label>
        <locationX>329</locationX>
        <locationY>33</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_we_Find_an_Opty</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01270000000cebp</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0120g0000009tIp</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>AllRetentionOpty</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Result__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Stage</name>
        <label>Update the Stage</label>
        <locationX>846</locationX>
        <locationY>177</locationY>
        <connector>
            <targetReference>Closed_Retention_Opty</targetReference>
        </connector>
        <inputReference>RetOptytoUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Find_Retention_Opty</startElementReference>
    <status>Active</status>
    <variables>
        <description>Passed from Process Builder</description>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Finds all of the Retention Opty associated with Account</description>
        <name>AllRetentionOpty</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OptyIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Loop Variable</description>
        <name>RetOpty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>This is the list of Retention Opty with the New Stage</description>
        <name>RetOptytoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
