force-app/main/default/flows/Deactivated_Accounts_Opportunity_Result.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Deactivated_Result</name>
        <label>Set Deactivated Result</label>
        <locationX>880</locationX>
        <locationY>565</locationY>
        <assignmentItems>
            <assignToReference>ClosedOpty.Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deactivated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opty_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Store new value</description>
        <name>Update_Opty_Result</name>
        <label>Update Opty Result</label>
        <locationX>635</locationX>
        <locationY>569</locationY>
        <assignmentItems>
            <assignToReference>UpdateOpty</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ClosedOpty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Result</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Were_Any_Closed_Optys_Found</name>
        <label>Were Any Closed Optys Found?</label>
        <locationX>624</locationX>
        <locationY>51</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Closed_Won_Optys</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Result</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Created for case 01796858</description>
    <formulas>
        <name>Closedatewithin365</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND({!ClosedOpty.CloseDate} &gt; (Today() - 365),({!ClosedOpty.CloseDate}&lt;=Today())), True, False)</expression>
    </formulas>
    <interviewLabel>Deactivated Accounts - Opportunity Result {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deactivated Accounts - Opportunity Result</label>
    <loops>
        <name>Set_Result</name>
        <label>Set Result</label>
        <locationX>633</locationX>
        <locationY>259</locationY>
        <assignNextValueToReference>ClosedOpty</assignNextValueToReference>
        <collectionReference>Find_Closed_Won_Optys</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Deactivated_Result</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Closed_Won_Optys</name>
        <label>Find Closed Won Optys</label>
        <locationX>390</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Were_Any_Closed_Optys_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Were_Any_Closed_Optys_Found</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6) AND (7 OR 8 OR 9)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01270000000cebp</stringValue>
            </value>
        </filters>
        <filters>
            <field>Result__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Deactivated</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won - Mailed</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won - Never Mailed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reactivation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registration</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Upgrade</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opty</name>
        <label>Update Opty</label>
        <locationX>367</locationX>
        <locationY>263</locationY>
        <inputReference>UpdateOpty</inputReference>
    </recordUpdates>
    <start>
        <locationX>51</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Find_Closed_Won_Optys</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Value pushed from Account Process Builder</description>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AllClosedWonOpty</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Store individual opty for the loop</description>
        <name>ClosedOpty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>UpdateOpty</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
