force-app/main/default/flows/Existing_Contact_Email_Domain.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Does_Email_Domain_Exist</name>
        <label>Does Email Domain Exist</label>
        <locationX>763</locationX>
        <locationY>111</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EDRegion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ClientAccountRegion</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmailDomainId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Existing_Email_Domain</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Domain_Doesn_t_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailDomainId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Email_Domain_Record</targetReference>
            </connector>
            <label>Domain Doesn&apos;t Exist</label>
        </rules>
    </decisions>
    <interviewLabel>Existing Contact Email Domain {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Existing Contact Email Domain</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Email_Domain_Record</name>
        <label>Create Email Domain Record</label>
        <locationX>975</locationX>
        <locationY>110</locationY>
        <assignRecordIdToReference>NewEmailDomainId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Triggering_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Domain_Type__c</field>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>TriggeringRecordED</elementReference>
            </value>
        </inputAssignments>
        <object>Email_Domain__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Account</name>
        <label>Find Account</label>
        <locationX>444</locationX>
        <locationY>112</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Existing_Email_Domain</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01270000000MRziAAG</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ClientAccountRegion</assignToReference>
            <field>Client_Region__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Existing_Email_Domain</name>
        <label>Find Existing Email Domain</label>
        <locationX>568</locationX>
        <locationY>114</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Email_Domain_Exist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Does_Email_Domain_Exist</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClientRegion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientAccountRegion</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TriggeringRecordED</elementReference>
            </value>
        </filters>
        <object>Email_Domain__c</object>
        <outputAssignments>
            <assignToReference>EDRegion</assignToReference>
            <field>ClientRegion__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EmailDomainId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Existing_Email_Domain</name>
        <label>Assign Existing  Email Domain</label>
        <locationX>772</locationX>
        <locationY>293</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TriggeringRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Related_Email_Domain__c</field>
            <value>
                <elementReference>EmailDomainId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Triggering_Contact</name>
        <label>Update Triggering Contact</label>
        <locationX>1119</locationX>
        <locationY>109</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TriggeringRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Related_Email_Domain__c</field>
            <value>
                <elementReference>NewEmailDomainId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>31</locationX>
        <locationY>79</locationY>
        <connector>
            <targetReference>Find_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ClientAccountRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EDRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmailDomainId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewEmailDomainId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RelatedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TriggeringRecordED</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TriggeringRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
