force-app/main/default/flows/IPM_CSM_Request.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CSM_Support_Request</name>
        <label>CSM Support Request</label>
        <locationX>1128</locationX>
        <locationY>445</locationY>
        <actionName>Event.CSM_Support_Request</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Request_Completed_Notification_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Create_Event</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CSM_Support_Request_0</name>
        <label>CSM Support Request</label>
        <locationX>901</locationX>
        <locationY>682</locationY>
        <actionName>Event.CSM_Support_Request</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Request_Completed_Notification</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Create_Event</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>IPM_support_Request</name>
        <label>IPM support Request</label>
        <locationX>690</locationX>
        <locationY>452</locationY>
        <actionName>Event.IPM_Support_Request</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Request_Completed_Notification_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Create_Event</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>IPM_support_Request_0</name>
        <label>IPM support Request</label>
        <locationX>900</locationX>
        <locationY>554</locationY>
        <actionName>Event.IPM_Support_Request</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CSM_Support_Request_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Create_Event</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Request_Type</name>
        <label>Request Type</label>
        <locationX>892</locationX>
        <locationY>451</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IPM_only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.Implementation_Project_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account.Client_Success_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IPM_support_Request</targetReference>
            </connector>
            <label>IPM only</label>
        </rules>
        <rules>
            <name>CSM_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.Implementation_Project_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account.Client_Success_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CSM_Support_Request</targetReference>
            </connector>
            <label>CSM Only</label>
        </rules>
        <rules>
            <name>IPM_and_CSM_request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.Implementation_Project_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account.Client_Success_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IPM_support_Request_0</targetReference>
            </connector>
            <label>IPM and CSM request</label>
        </rules>
    </decisions>
    <description>Screen Flow to Request a CSM or IPM</description>
    <formulas>
        <name>RequestedDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>IPM/CSM Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPM/CSM Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Event</name>
        <label>Create Event</label>
        <locationX>899</locationX>
        <locationY>194</locationY>
        <connector>
            <targetReference>Mark_Opp_as_IMP_CSM_requested</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Source_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appointment_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Summary_of_Client_Objectives</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>User.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120g000000QGIBAA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Considerations_Needs__c</field>
            <value>
                <elementReference>Special_Considerations_Needs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Request IPM/CSM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Source_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Account</name>
        <label>Account</label>
        <locationX>458</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tentative_Launch_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Source_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Source_Opportunity</name>
        <label>Source Opportunity</label>
        <locationX>374</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>CSM_already_assigned</name>
        <label>CSM already assigned</label>
        <locationX>690</locationX>
        <locationY>760</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Event</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CSM_Request__c</field>
            <value>
                <stringValue>CSM already assigned</stringValue>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <recordUpdates>
        <name>IPM_already_assigned</name>
        <label>IPM already assigned</label>
        <locationX>1126</locationX>
        <locationY>764</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Event</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IPM_Request__c</field>
            <value>
                <stringValue>IPM already assigned</stringValue>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <recordUpdates>
        <name>Mark_Opp_as_IMP_CSM_requested</name>
        <label>Mark Opp as IMP/CSM requested</label>
        <locationX>900</locationX>
        <locationY>317</locationY>
        <connector>
            <targetReference>Request_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Source_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IPM_CSM_Requested__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Client_Data</name>
        <label>Client Data</label>
        <locationX>777</locationX>
        <locationY>55</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <fields>
            <name>Type_of_Launch</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Source_Opportunity.Type</elementReference>
            </defaultValue>
            <fieldText>Type of Launch</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Summary_of_Client_Objectives</name>
            <fieldText>Summary of Client Objectives</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Special_Considerations_Needs</name>
            <fieldText>Special Considerations/Needs (255 Characters Limit)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Estimated_Number_of_Contractors</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Source_Opportunity.Number_of_Contractors__c</elementReference>
            </defaultValue>
            <fieldText>Estimated Number of Contractors</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Demo_Information</name>
        <label>Demo Information</label>
        <locationX>658</locationX>
        <locationY>56</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Client_Data</targetReference>
        </connector>
        <fields>
            <name>User</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Requesting User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Source_Opportunity.OwnerId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Request_Completed_Notification</name>
        <label>Request Completed Notification</label>
        <locationX>900</locationX>
        <locationY>841</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RequestSubmittedNotification</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Your request for an IPM/CSM has been submitted. &lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Leadership will notify you if your request have been Approved/Declined&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Request_Completed_Notification_0</name>
        <label>Request Completed Notification</label>
        <locationX>691</locationX>
        <locationY>624</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CSM_already_assigned</targetReference>
        </connector>
        <fields>
            <name>RequestSubmittedNotification_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Your request for an IPM has been submitted a CSM is already assigned to this account. &lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Leadership will notify you if your request have been Approved/Declined&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Request_Completed_Notification_0_0</name>
        <label>Request Completed Notification</label>
        <locationX>1127</locationX>
        <locationY>604</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IPM_already_assigned</targetReference>
        </connector>
        <fields>
            <name>RequestSubmittedNotification_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Your request for an CSM has been submitted. A IPM is already assigned to the Client account. &lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Leadership will notify you if your request have been Approved/Declined&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Tentative_Launch_Date</name>
        <label>Tentative Launch Date</label>
        <locationX>568</locationX>
        <locationY>58</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Demo_Information</targetReference>
        </connector>
        <fields>
            <name>OppAccountID</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Client Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Source_Opportunity.AccountId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>36</locationY>
        <connector>
            <targetReference>Source_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Email body for the Notification email</description>
        <name>NotificationEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: Arial, sans-serif;&quot;&gt;{!RequestingUsers.Name} Has requested assistance from an IPM/CSM&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: Arial, sans-serif;&quot;&gt;Client Name: &lt;/b&gt;&lt;span style=&quot;font-size: 16px; font-family: Arial, sans-serif;&quot;&gt;{!Source_Opportunity.Account.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: Arial, sans-serif;&quot;&gt;Country: &lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Source_Opportunity.&lt;/span&gt;&lt;span style=&quot;font-size: 16px; font-family: Arial, sans-serif;&quot;&gt;Country__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;Region: &lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Source_Opportunity.&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;RegionF__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Estimated Number of Contractors: &lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Source_Opportunity.&lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Number_of_Contractors__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Product: &lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Source_Opportunity.&lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Product_detail__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Summary of Client Objectives: &lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Summary_of_Client_Objectives}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Special Consideration: &lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Special_Considerations_Needs}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Client Name: Opportunity.Account.Name&lt;/p&gt;&lt;p&gt;Pre-Kickoff Meeting Date Date: to be provided by the requester at the time of the request&lt;/p&gt;&lt;p&gt;Tentative Launch Date: to be provided by the requester at the time of the request&lt;/p&gt;&lt;p&gt;New or Existing Client: Opportunity.Type&lt;/p&gt;&lt;p&gt;Type of Launch: to be provided by the requester at the time of the request&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Attendee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequestingUsers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>SourceOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
