force-app/main/default/flows/Opportunity_Stage_Change.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <interviewLabel>Opportunity Stage Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Stage Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_History_Record</name>
        <label>Create History Record</label>
        <locationX>442</locationX>
        <locationY>69</locationY>
        <connector>
            <targetReference>Update_Last_status_change</targetReference>
        </connector>
        <inputAssignments>
            <field>Current_Status__c</field>
            <value>
                <elementReference>CurrentStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Status_Change__c</field>
            <value>
                <elementReference>LastStatusChangeDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Staus__c</field>
            <value>
                <elementReference>LastStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>TriggeringOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>IPM Stage Change</stringValue>
            </value>
        </inputAssignments>
        <object>History_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Last_status_change</name>
        <label>Update Last status change</label>
        <locationX>628</locationX>
        <locationY>69</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TriggeringOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_IPM_Stage_Change_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_IPM_Stage__c</field>
            <value>
                <elementReference>LastStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_History_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>LastStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>LastStatusChangeDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>StageChange</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TriggeringOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
