force-app/main/default/flows/Outreach_Case_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Post a Chatter notification to the Survey Outreach Chatter group</description>
        <name>Chatter_Survey_Outreach_Group</name>
        <label>Chatter Survey Outreach Group</label>
        <locationX>531</locationX>
        <locationY>56</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Post</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>OutreachCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <description>Flow for Low survey outreach case creation.</description>
    <interviewLabel>Outreach Case Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Outreach Case Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Outreach_case</name>
        <label>Create Outreach case</label>
        <locationX>273</locationX>
        <locationY>69</locationY>
        <assignRecordIdToReference>OutreachCase.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Chatter_Survey_Outreach_Group</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>SurveyAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>OriginalCase.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Please review the related case for previous interaction details. A call is required. </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>HVCaseOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G0g000004bsbp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>OriginalCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Urgent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120g000000UTq6AAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Case__c</field>
            <value>
                <elementReference>RelatedCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Service Recovery Opportunity </stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <start>
        <locationX>55</locationX>
        <locationY>61</locationY>
        <connector>
            <targetReference>Create_Outreach_case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ChatterNotifcation</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(22, 50, 92); font-family: monospace, monospace; background-color: rgb(243, 242, 242); --darkmode-inline-color:rgba(255,255,255,0.7); --darkmode-inline-bgcolor:#222527;&quot; data-darkmode-inline-color=&quot;&quot; data-darkmode-inline-bgcolor=&quot;&quot;&gt;@[&lt;/span&gt;0F9560000005HQ1CAM&lt;span style=&quot;color: rgb(22, 50, 92); font-family: monospace, monospace; background-color: rgb(243, 242, 242); --darkmode-inline-color:rgba(255,255,255,0.7); --darkmode-inline-bgcolor:#222527;&quot; data-darkmode-inline-color=&quot;&quot; data-darkmode-inline-bgcolor=&quot;&quot;&gt;] &lt;/span&gt;Survey {!Survey.Id} scored lower than 6. Please reach out to [{!OriginalCase.ContactId}] at {!SurveyAccount.Name}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Suppliers Primary Comment:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); --darkmode-inline-color:#c9c7c5;&quot; data-darkmode-inline-color=&quot;&quot;&gt;{!Survey.Primary_Comment__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>HVCaseOrigin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>High Value</stringValue>
        </value>
    </variables>
    <variables>
        <name>OriginalCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>OutreachCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Post</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>@[0F90g000000HqC8CAK] Survey {!Survey.Name} scored lower than 6. Please reach out to {!SurveyAccount.Name}. </stringValue>
        </value>
    </variables>
    <variables>
        <name>RelatedCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>OriginalCase.Id</elementReference>
        </value>
    </variables>
    <variables>
        <description>Low Scoring Survey</description>
        <name>Survey</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>NPX_Survey_Record__c</objectType>
    </variables>
    <variables>
        <name>SurveyAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
