force-app/main/default/flows/Registration_Request_Email.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Registration Request - German (Email Alert)</description>
        <name>Registration_Request_de_Email_Alert</name>
        <label>Registration Request - de (Email Alert)</label>
        <locationX>379</locationX>
        <locationY>301</locationY>
        <actionName>Opportunity.Registration_Request_de_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Set_Template_0_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends English registration requests.</description>
        <name>Registration_Request_en_Email_Alert</name>
        <label>Registration Request - en (Email Alert)</label>
        <locationX>514</locationX>
        <locationY>299</locationY>
        <actionName>Opportunity.Registration_Request_en_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Set_Template</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Registration_Request_es_Email_Alert</name>
        <label>Registration Request - es (Email Alert)</label>
        <locationX>1025</locationX>
        <locationY>315</locationY>
        <actionName>Opportunity.Registration_Request_es_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Set_Template_0_0_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Registration_Request_fr_ca_Email_Alert</name>
        <label>Registration Request - fr_ca (Email Alert)</label>
        <locationX>788</locationX>
        <locationY>297</locationY>
        <actionName>Opportunity.Registration_Request_fr_ca_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Set_Template_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Registration_Request_fr_Email_Alert</name>
        <label>Registration Request - fr (Email Alert)</label>
        <locationX>647</locationX>
        <locationY>299</locationY>
        <actionName>Opportunity.Registration_Request_fr_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Set_Template_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Registration_Request_pt_Email_Alert</name>
        <label>Registration Request - pt (Email Alert)</label>
        <locationX>238</locationX>
        <locationY>308</locationY>
        <actionName>Opportunity.Registration_Request_pt_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Set_Template_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Template</name>
        <label>Set Template</label>
        <locationX>514</locationX>
        <locationY>499</locationY>
        <assignmentItems>
            <assignToReference>Pickatemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Registration_Request_en</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_email_template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Template_0</name>
        <label>Set Template</label>
        <locationX>647</locationX>
        <locationY>497</locationY>
        <assignmentItems>
            <assignToReference>Pickatemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Registration_Request_fr</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_email_template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Template_0_0</name>
        <label>Set Template</label>
        <locationX>248</locationX>
        <locationY>487</locationY>
        <assignmentItems>
            <assignToReference>Pickatemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Registration_Request_pt</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_email_template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Template_0_0_0</name>
        <label>Set Template</label>
        <locationX>771</locationX>
        <locationY>495</locationY>
        <assignmentItems>
            <assignToReference>Pickatemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Registration_Request_fr_ca</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_email_template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Template_0_0_0_0</name>
        <label>Set Template</label>
        <locationX>386</locationX>
        <locationY>487</locationY>
        <assignmentItems>
            <assignToReference>Pickatemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Registration_Request_de</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_email_template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Template_0_0_0_0_0</name>
        <label>Set Template</label>
        <locationX>1031</locationX>
        <locationY>462</locationY>
        <assignmentItems>
            <assignToReference>Pickatemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Registration_Request_es</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_email_template</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Langue_Verification</name>
        <label>Langue Verification</label>
        <locationX>504</locationX>
        <locationY>157</locationY>
        <defaultConnector>
            <targetReference>Registration_Request_en_Email_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>English</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Primary_Contact__r.Language__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>en</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registration_Request_en_Email_Alert</targetReference>
            </connector>
            <label>English</label>
        </rules>
        <rules>
            <name>German</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Primary_Contact__r.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>de</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registration_Request_de_Email_Alert</targetReference>
            </connector>
            <label>German</label>
        </rules>
        <rules>
            <name>Portuguese</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Primary_Contact__r.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>pt</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity.Primary_Contact__r.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>pt_PT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity.Primary_Contact__r.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>pt_BR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registration_Request_pt_Email_Alert</targetReference>
            </connector>
            <label>Portuguese</label>
        </rules>
        <rules>
            <name>French</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Primary_Contact__r.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registration_Request_fr_Email_Alert</targetReference>
            </connector>
            <label>French</label>
        </rules>
        <rules>
            <name>French_Canadian</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Primary_Contact__r.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr_ca</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registration_Request_fr_ca_Email_Alert</targetReference>
            </connector>
            <label>French Canadian</label>
        </rules>
        <rules>
            <name>Spanish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Primary_Contact__r.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>es</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registration_Request_es_Email_Alert</targetReference>
            </connector>
            <label>Spanish</label>
        </rules>
    </decisions>
    <interviewLabel>Registration Request - Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Registration Request - Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Registration_Request_English_Email</name>
        <label>Registration Request - English Email</label>
        <locationX>514</locationX>
        <locationY>766</locationY>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>notifications@avetta.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>Avetta Notifications</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>Get_email_template.HtmlValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Get_email_template.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>Opportunity.Primary_Contact__r.Email</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_email_template</name>
        <label>Get email template</label>
        <locationX>514</locationX>
        <locationY>639</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Registration_Request_English_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Pickatemplate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>378</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Langue_Verification</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Pickatemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
