force-app/main/default/flows/RemoveRushRequest.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Which_Email_do_I_send</name>
        <label>Which Email do I send?</label>
        <locationX>672</locationX>
        <locationY>140</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>auditGuard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AG_Emails</targetReference>
            </connector>
            <label>AG</label>
        </rules>
        <rules>
            <name>DG_IG</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>docuGuard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>insureGuard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IG_DG_emails</targetReference>
            </connector>
            <label>DG/IG</label>
        </rules>
    </decisions>
    <interviewLabel>RemoveRushRequest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RemoveRushRequest</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>RemoveParentCase</name>
        <label>RemoveParentCase</label>
        <locationX>526</locationX>
        <locationY>138</locationY>
        <connector>
            <targetReference>Which_Email_do_I_send</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>P4 - Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rush_Request_Status__c</field>
            <value>
                <stringValue>P3 - Rush Expired</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>60</locationX>
        <locationY>59</locationY>
        <connector>
            <targetReference>RemoveParentCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Expired_Supplier_Rush_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-05-29</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>AG_Emails</name>
        <label>AG Emails</label>
        <locationX>905</locationX>
        <locationY>229</locationY>
        <flowName>AG_Case_Email_Flow</flowName>
        <inputAssignments>
            <name>CaseID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>IG_DG_emails</name>
        <label>IG/DG emails</label>
        <locationX>909</locationX>
        <locationY>57</locationY>
        <flowName>CSConnectCaseEmailFlow</flowName>
        <inputAssignments>
            <name>CaseID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
