force-app/main/default/flows/Salesforce_Support_Priority.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Priority_1_ChatterNotification</name>
        <label>Priority 1 ChatterNotification</label>
        <locationX>555</locationX>
        <locationY>452</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>PriorityCaseUpdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Find_Parent_Case.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Priority_2_ChatterNotification</name>
        <label>Priority 2 ChatterNotification</label>
        <locationX>756</locationX>
        <locationY>465</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>PriorityCaseUpdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Find_Parent_Case.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Priority_3_ChatterNotification</name>
        <label>Priority 3 ChatterNotification</label>
        <locationX>934</locationX>
        <locationY>464</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>PriorityCaseUpdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Find_Parent_Case.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Does_Case_have_a_related_SF_Priority</name>
        <label>Does Case have a related SF Priority</label>
        <locationX>761</locationX>
        <locationY>136</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Priority_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Priority1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Priority_1</targetReference>
            </connector>
            <label>Priority 1</label>
        </rules>
        <rules>
            <name>Priority_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Priority2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Priority_2</targetReference>
            </connector>
            <label>Priority 2</label>
        </rules>
        <rules>
            <name>Priority_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Priority3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_3rd_Priority</targetReference>
            </connector>
            <label>Priority 3</label>
        </rules>
    </decisions>
    <interviewLabel>Salesforce Support Priority {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Salesforce Support Priority Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_2nd_Priority</name>
        <label>Find 2nd Priority</label>
        <locationX>401</locationX>
        <locationY>104</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_3rd_Priority</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>X2nd_Priority__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCaseID</elementReference>
            </value>
        </filters>
        <object>Salesforce_Support_Priorities__c</object>
        <outputAssignments>
            <assignToReference>Priority2</assignToReference>
            <field>X2nd_Priority__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_3rd_Priority</name>
        <label>Find 3rd Priority</label>
        <locationX>520</locationX>
        <locationY>106</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Case_have_a_related_SF_Priority</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>X3rd_Priority__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCaseID</elementReference>
            </value>
        </filters>
        <object>Salesforce_Support_Priorities__c</object>
        <outputAssignments>
            <assignToReference>Priority3</assignToReference>
            <field>X3rd_Priority__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Parent_Case</name>
        <label>Find Parent Case</label>
        <locationX>195</locationX>
        <locationY>92</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Related_1st_Priority</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCaseID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Related_1st_Priority</name>
        <label>Find Related 1st Priority</label>
        <locationX>287</locationX>
        <locationY>99</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_2nd_Priority</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>X1st_Priority__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCaseID</elementReference>
            </value>
        </filters>
        <object>Salesforce_Support_Priorities__c</object>
        <outputAssignments>
            <assignToReference>Priority1</assignToReference>
            <field>X1st_Priority__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Clear_3rd_Priority</name>
        <label>Clear 3rd Priority</label>
        <locationX>932</locationX>
        <locationY>339</locationY>
        <connector>
            <targetReference>Priority_3_ChatterNotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>X3rd_Priority__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>X3rd_Priority__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Salesforce_Support_Priorities__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Priority_1</name>
        <label>Clear Priority 1</label>
        <locationX>555</locationX>
        <locationY>313</locationY>
        <connector>
            <targetReference>Priority_1_ChatterNotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>X1st_Priority__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>X1st_Priority__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Salesforce_Support_Priorities__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Priority_2</name>
        <label>Clear Priority 2</label>
        <locationX>772</locationX>
        <locationY>315</locationY>
        <connector>
            <targetReference>Priority_2_ChatterNotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>X2nd_Priority__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>X2nd_Priority__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Salesforce_Support_Priorities__c</object>
    </recordUpdates>
    <start>
        <locationX>85</locationX>
        <locationY>100</locationY>
        <connector>
            <targetReference>Find_Parent_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>PriorityCaseUpdate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>@[{!Find_Parent_Case.Reporting_User__c}] (case {!Find_Parent_Case.CaseNumber} - {!Find_Parent_Case.Subject}) has successfully deployed.  We have removed this case as one of your Salesforce support priorities.  Thank you, the Salesforce team.</text>
    </textTemplates>
    <variables>
        <name>ParentCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Priority1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Priority2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Priority3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
