force-app/main/default/flows/SF_Team_Case_email_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Case_Denied_Email_Alert</name>
        <label>Case Denied Email Alert</label>
        <locationX>641</locationX>
        <locationY>399</locationY>
        <actionName>Case.SF_Case_Denied_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Closed_Case_Email_Alert</name>
        <label>Closed Case Email Alert</label>
        <locationX>299</locationX>
        <locationY>334</locationY>
        <actionName>Case.SF_Closed_Case_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Does_the_case_have_a_Sprint</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_SF_Support_Case_Owner</name>
        <label>Notify SF Support Case Owner</label>
        <locationX>837</locationX>
        <locationY>59</locationY>
        <actionName>Case.Reporting_User_Responded_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Find_Case.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Salesforce_Team_ChatterNotification</name>
        <label>Salesforce Team ChatterNotification</label>
        <locationX>752</locationX>
        <locationY>456</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Find_Case.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>SFTeamChatterNotification</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SF_Deployed_ticket_Email</name>
        <label>SF - Deployed ticket Email</label>
        <locationX>1005</locationX>
        <locationY>477</locationY>
        <actionName>Case.SF_Deployed_ticket</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Sprint_Case_Effort</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SF_Ticket_Ready_for_UAT_Email</name>
        <label>SF - Ticket Ready for UAT Email</label>
        <locationX>752</locationX>
        <locationY>317</locationY>
        <actionName>Case.SF_Ticket_Ready_for_UAT</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Salesforce_Team_ChatterNotification</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>DeniedStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Denied</stringValue>
        </value>
    </constants>
    <constants>
        <name>DeployedStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Deployed</stringValue>
        </value>
    </constants>
    <constants>
        <name>DeploymentEmailSent</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Deployment Email Sent</stringValue>
        </value>
    </constants>
    <constants>
        <name>ReadyforUATEmailSent</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Ready for UAT Email Sent</stringValue>
        </value>
    </constants>
    <constants>
        <name>ReadyforUATStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Ready for UAT</stringValue>
        </value>
    </constants>
    <constants>
        <name>ResolvedStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Resolved</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Case_Status</name>
        <label>Case Status</label>
        <locationX>634</locationX>
        <locationY>213</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ready_for_UAT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for UAT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SF_Ticket_Ready_for_UAT_Email</targetReference>
            </connector>
            <label>Ready for UAT</label>
        </rules>
        <rules>
            <name>Denied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Denied_Email_Alert</targetReference>
            </connector>
            <label>Denied</label>
        </rules>
        <rules>
            <name>Deployed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deployed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SF_Deployed_ticket_Email</targetReference>
            </connector>
            <label>Deployed</label>
        </rules>
        <rules>
            <name>Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Case_Email_Alert</targetReference>
            </connector>
            <label>Resolved</label>
        </rules>
        <rules>
            <name>Waiting_on_Reporter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Reporter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Status</targetReference>
            </connector>
            <label>Waiting on Reporter</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_case_have_a_Sprint</name>
        <label>Does the case have a Sprint?</label>
        <locationX>291</locationX>
        <locationY>526</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Case.Sprint__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sprint_Case_Effort</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>AddSprintEffort</name>
        <dataType>Number</dataType>
        <expression>{!Find_Case.Sprint__r.Sprint_Case_Effort__c} + {!Find_Case.Actual_Effort_Hours__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>SF Team Case email Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF Team Case email Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Case</name>
        <label>Find Case</label>
        <locationX>391</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Status</name>
        <label>Update Case Status</label>
        <locationX>647</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Notify_SF_Support_Case_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Under Review</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sprint_Case_Effort</name>
        <label>Update Sprint Case Effort</label>
        <locationX>653</locationX>
        <locationY>679</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Case.Sprint__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sprint_Case_Effort__c</field>
            <value>
                <elementReference>AddSprintEffort</elementReference>
            </value>
        </inputAssignments>
        <object>Sprint__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>210</locationY>
        <connector>
            <targetReference>Find_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CaseOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseReportingUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>SFTeamChatterNotification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>@[0F90g000000HqIF] case ({!Find_Case.CaseNumber} - {!Find_Case.Subject}) is ready for QA.</stringValue>
        </value>
    </variables>
</Flow>
