force-app/main/default/flows/Solution_Engineer_Support_Request.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>QHSSE_Support_Request_Email</name>
        <label>QHSSE Support Request Email</label>
        <locationX>1067</locationX>
        <locationY>569</locationY>
        <actionName>Event.QHSSE_Support_Request_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Submitted_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Solution_Engineer_and_QHSSE_Support_Request_event</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SE_Support_Email_Alert</name>
        <label>SE Support Email Alert</label>
        <locationX>911</locationX>
        <locationY>337</locationY>
        <actionName>Event.Solution_Engineer_Request</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>QHSEE_Support_Needed</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Solution_Engineer_and_QHSSE_Support_Request_event</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>QHSEE_Support_Needed</name>
        <label>QHSEE Support Needed?</label>
        <locationX>902</locationX>
        <locationY>490</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QHSSESMESupportNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QHSSE_Support_Request_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QHSSESMESupportNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submitted_Screen</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>QHSSE_SME_Support_Needed</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>QHSSE_SME_Support_Needed__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Attendance_Type__c</picklistField>
        <picklistObject>Event</picklistObject>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <name>DurationinMinutes</name>
        <dataType>Number</dataType>
        <expression>({!Meeting_End_time} - {!Meeting_Start_time})*24*60</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FullNameformula</name>
        <dataType>String</dataType>
        <expression>({!Opportunity.Opp_Owner_Name_First__c}+&quot; &quot;+{!Opportunity.Opp_Owner_Name_Last__c})</expression>
    </formulas>
    <interviewLabel>Solution Engineer Support Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Solution Engineer Support Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Solution_Engineer_and_QHSSE_Support_Request_event</name>
        <label>Solution Engineer and QHSSE Support Request event</label>
        <locationX>911</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>SE_Support_Requested</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDateTime</field>
            <value>
                <elementReference>Meeting_Start_time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attendance_Type__c</field>
            <value>
                <elementReference>MeetingLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Additional_Information</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationInMinutes</field>
            <value>
                <elementReference>DurationinMinutes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>Meeting_End_time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OppOwnerName__c</field>
            <value>
                <elementReference>FullNameformula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QHSSE_SME_Support_Needed__c</field>
            <value>
                <elementReference>QHSSESMESupportNeeded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120g000000QGHTAA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>Meeting_Start_time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>SME request for {!Opportunity.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Opportunity</name>
        <label>Opportunity</label>
        <locationX>367</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Request_Solution_Engineer_Support</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>SE_Support_Requested</name>
        <label>SE Support Requested</label>
        <locationX>911</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>SE_Support_Email_Alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SE_Support_Requested__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Additional_Information_Title</name>
        <label>Additional Information title</label>
        <locationX>770</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Solution_Engineer_and_QHSSE_Support_Request_event</targetReference>
        </connector>
        <fields>
            <name>Additional_Information</name>
            <fieldText>Additional Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Meeting_Information</name>
        <label>Meeting Information</label>
        <locationX>628</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Additional_Information_Title</targetReference>
        </connector>
        <fields>
            <name>MeetingLocation</name>
            <choiceReferences>Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Meeting Location</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MeetingAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>MeetingLocation</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>In-Person</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Meeting_Start_time</name>
            <dataType>DateTime</dataType>
            <fieldText>Meeting Start time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Meeting_End_time</name>
            <dataType>DateTime</dataType>
            <fieldText>Meeting End time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Request_Solution_Engineer_Support</name>
        <label>Request Solution Engineer Support</label>
        <locationX>482</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Meeting_Information</targetReference>
        </connector>
        <fields>
            <name>Requesting_User_Name</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Requesting User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Opportunity.OwnerId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>QHSSESMESupportNeeded</name>
            <choiceReferences>QHSSE_SME_Support_Needed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>QHSSE SME Support Needed</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submitted_Screen</name>
        <label>Submitted Screen</label>
        <locationX>910</locationX>
        <locationY>697</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SubmittedText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(62, 62, 60);&quot;&gt;Your Request for Solution &lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 20px;&quot;&gt;Engineer&lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(62, 62, 60);&quot;&gt; support has been &lt;/b&gt;&lt;b style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-size: 20px;&quot;&gt;submitted&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>27</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Need Support from SF and QHSSEE</description>
        <name>EmailSubjectSEQHSSE</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Need Solution Engineer and QHSSE Support for {!Opportunity.Account.Name}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Ownername</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Opportunity.Opp_Owner_Name_First__c} {!Opportunity.Opp_Owner_Name_Last__c}</text>
    </textTemplates>
    <textTemplates>
        <name>SEandQHSSEbody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://avetta--dev--c.documentforce.com/sfc/servlet.shepherd/version/download/068V0000000gpnP?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!RequestingUser.Name} Has requested support for an upcoming Demo with {!Opportunity.Account.Name}.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;HYPERLINK(&quot;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;https://avetta.lightning.force.com/&quot;&amp;amp;&lt;/span&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Solution_Engineer_and_QHSSE_Support_Request_event},&quot;Demo &lt;/span&gt;&lt;span style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;Request&quot;)&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SEbody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://avetta--dev--c.documentforce.com/sfc/servlet.shepherd/version/download/068V0000000gpnU?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!RequestingUser.Name} Has requested Solution Engineer support for an upcoming demo for {!Opportunity.Account.Name}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SEsubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Need Solution Engineer for {!Opportunity.Account.Name}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>RequestingUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>SeUsers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
