force-app/main/default/flows/Status_Change_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Update_Type</name>
        <label>Check Update Type</label>
        <locationX>362</locationX>
        <locationY>220</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StatusChange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_History</targetReference>
            </connector>
            <label>Status Change</label>
        </rules>
        <rules>
            <name>UnHiddenCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UnHidden</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_History_Record_0</targetReference>
            </connector>
            <label>UnHidden</label>
        </rules>
    </decisions>
    <interviewLabel>Status Change Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Status Change Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_History_Record</name>
        <label>Create History Record</label>
        <locationX>540</locationX>
        <locationY>417</locationY>
        <connector>
            <targetReference>Update_Last_status_change</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>TriggeringCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Status__c</field>
            <value>
                <elementReference>CurrentStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Status_Change__c</field>
            <value>
                <elementReference>LastStatusChangeDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Staus__c</field>
            <value>
                <elementReference>LastStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Status Change</stringValue>
            </value>
        </inputAssignments>
        <object>History_Tracking__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_History_Record_0</name>
        <label>Create History Record</label>
        <locationX>209</locationX>
        <locationY>380</locationY>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>TriggeringCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Staus__c</field>
            <value>
                <elementReference>CurrentStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Un-Hidden</stringValue>
            </value>
        </inputAssignments>
        <object>History_Tracking__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_History</name>
        <label>Update History</label>
        <locationX>540</locationX>
        <locationY>218</locationY>
        <connector>
            <targetReference>Create_History_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_History_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TriggeringCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Last_Status_Change__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Un-Hidden</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Status__c</field>
            <value>
                <elementReference>CurrentStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Status_Change__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>History_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Last_status_change</name>
        <label>Update Last status change</label>
        <locationX>539</locationX>
        <locationY>567</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TriggeringCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Status_Change__c</field>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Status__c</field>
            <value>
                <elementReference>LastStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Update_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>LastStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>LastStatusChangeDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>StatusChange</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TriggeringCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>UnHidden</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
