force-app/main/default/flows/Supplier_Case_Update_ASA.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Does_the_case_already_have_an_ASA</name>
        <label>Does the case already have an ASA?</label>
        <locationX>91</locationX>
        <locationY>182</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseASA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_ASA</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_Contact_within_24_hours</name>
        <label>First Contact within 24 hours?</label>
        <locationX>102</locationX>
        <locationY>454</locationY>
        <defaultConnector>
            <targetReference>First_Contact_within_48_hours</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Greater than 24 hours</defaultConnectorLabel>
        <rules>
            <name>Within_24_hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CalculateASA</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>24.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_First_Contact_in_24_hours_to_true</targetReference>
            </connector>
            <label>Within 24 hours</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_Contact_within_48_hours</name>
        <label>First Contact within 48 hours</label>
        <locationX>403</locationX>
        <locationY>452</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Within_48_hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CalculateASA</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>24.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CalculateASA</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>48.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FC24Hours</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_First_Contact_in_48_to_true</targetReference>
            </connector>
            <label>Within 48 hours</label>
        </rules>
    </decisions>
    <formulas>
        <name>CalculateASA</name>
        <dataType>Number</dataType>
        <expression>({!$Flow.CurrentDateTime} - {!CaseCreatedDate})*24</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Supplier Case - Update ASA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Supplier Case - Update ASA</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_related_case</name>
        <label>Find related case</label>
        <locationX>93</locationX>
        <locationY>71</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Last_Activity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CaseCreatedDate</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FC24Hours</assignToReference>
            <field>First_Contact_in_24_Hours__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_First_Contact_in_24_hours_to_true</name>
        <label>Update First Contact in 24 hours to true</label>
        <locationX>110</locationX>
        <locationY>655</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>First_Contact_in_24_Hours__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_First_Contact_in_48_to_true</name>
        <label>Update First Contact in 48 to true</label>
        <locationX>411</locationX>
        <locationY>652</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>First_Contact_in_48_Hours__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Last_Activity</name>
        <label>Update Last Activity</label>
        <locationX>266</locationX>
        <locationY>85</locationY>
        <connector>
            <targetReference>Does_the_case_already_have_an_ASA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Activity__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_ASA</name>
        <label>Update the ASA</label>
        <locationX>98</locationX>
        <locationY>324</locationY>
        <connector>
            <targetReference>First_Contact_within_24_hours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ASA__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ASA__c</field>
            <value>
                <elementReference>CalculateASA</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Find_related_case</startElementReference>
    <status>Active</status>
    <variables>
        <name>CaseASA</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseCreatedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FC24Hours</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
