force-app/main/default/flows/SupplierSubmittedNewForm.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>MentionCHDChatter</name>
        <label>MentionCHDChatter</label>
        <locationX>1159</locationX>
        <locationY>447</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>MentionCHDGroup</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>NewParentID</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>MentionOwner</name>
        <label>MentionOwner</label>
        <locationX>340</locationX>
        <locationY>463</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>CaseownerMention</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>FindTriggeringCase.ParentId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Is_Parent_Closed</name>
        <label>Is Parent Closed?</label>
        <locationX>633</locationX>
        <locationY>368</locationY>
        <defaultConnector>
            <targetReference>UpdateParentCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ParentClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindParentCase.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Parent_Case</targetReference>
            </connector>
            <label>ParentClosed</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsNewFormWithin72Hrs</name>
        <label>IsNewFormWithin72Hrs</label>
        <locationX>630</locationX>
        <locationY>57</locationY>
        <defaultConnector>
            <targetReference>Remove_Triggering_Rush_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindTriggeringCase.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RushWithin72Hrs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindParentCase</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>RushWithin72Hrs</name>
        <dataType>Boolean</dataType>
        <expression>IF(DATEVALUE({!FindTriggeringCase.Time_of_Rush_Request__c}) &gt;= Today() + (- 3),True,False)</expression>
    </formulas>
    <interviewLabel>SupplierSubmittedNewForm {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SupplierSubmittedNewForm</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Parent_Case</name>
        <label>Create New Parent Case</label>
        <locationX>822</locationX>
        <locationY>364</locationY>
        <assignRecordIdToReference>NewParentID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Triggering_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>FindParentCase.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>FindParentCase.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>FindParentCase.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>FindParentCase.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G0g000004TTvW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>P3 - Rush</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000cebGAAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Waiting on Avetta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <elementReference>FindParentCase.Sub_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>FindParentCase.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>FindParentCase.Type</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>FindParentCase</name>
        <label>FindParentCase</label>
        <locationX>640</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Parent_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FindTriggeringCase.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>FindTriggeringCase</name>
        <label>FindTriggeringCase</label>
        <locationX>462</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsNewFormWithin72Hrs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TriggeringCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Remove_Triggering_Rush_Request</name>
        <label>Remove Triggering  Rush Request</label>
        <locationX>841</locationX>
        <locationY>52</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FindTriggeringCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>P4 - Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rush_Request_Status__c</field>
            <value>
                <stringValue>P3 - Rush Expired</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Triggering_Case</name>
        <label>Update Triggering Case</label>
        <locationX>988</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>MentionCHDChatter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FindTriggeringCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>NewParentID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateParentCase</name>
        <label>UpdateParentCase</label>
        <locationX>519</locationX>
        <locationY>463</locationY>
        <connector>
            <targetReference>MentionOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FindTriggeringCase.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Waiting on Avetta</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>47</locationX>
        <locationY>67</locationY>
        <connector>
            <targetReference>FindTriggeringCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CaseownerMention</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>@[{!FindTriggeringCase.Parent.OwnerId}] A related supplier case has submitted a new form within the rush request period.  Please action case {!FindTriggeringCase.CaseNumber} for {!FindTriggeringCase.Account_Name_Formula__c}.</text>
    </textTemplates>
    <textTemplates>
        <name>MentionCHDGroup</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>@[0F90g0000000CX3CAM] A related supplier case has submitted a new form within the rush request period.  Please action case {!FindTriggeringCase.CaseNumber} for {!FindTriggeringCase.Account_Name_Formula__c}.</text>
    </textTemplates>
    <variables>
        <name>NewParentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TriggeringCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>TriggeringCaseID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>TriggeringCaseParentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>UpdatedCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
