force-app/main/default/flows/Update_newest_renewal_invoice_to_most_rececent_true.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Update newest renewal invoice to most rececent true {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Renewal Invoice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_all_other_invoices_to_not_be_most_recent</name>
        <label>Update all other invoices to not be most recent</label>
        <locationX>467</locationX>
        <locationY>92</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>InvoiceID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Most_Recent_Renewal_Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Zuora__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Most_Recent_Renewal_Invoice__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_new_invoice_to_Most_Recent</name>
        <label>Update the new invoice to Most Recent</label>
        <locationX>225</locationX>
        <locationY>89</locationY>
        <connector>
            <targetReference>Update_all_other_invoices_to_not_be_most_recent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvoiceID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invoice_Created_Today__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Most_Recent_Renewal_Invoice__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Zuora__ZInvoice__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Update_the_new_invoice_to_Most_Recent</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InvAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvoiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
